
@{
    ViewBag.Title = "_Footer";
}
<div class="em-wrapper-footer">
    <div class="em-footer-style09">
        <div class="em-footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-sm-24">
                        <div class="em-footer-info">
                            <div class="row">
                                <div class="col-sm-4 first text-center">
                                    <div class="em-block-title" data-collapse-target="#collapse01">
                                        <p class="h4 em-text-upercase">
                                            <span>What's hot</span>
                                        </p>
                                    </div>
                                    <ul id="collapse01" class="em-links em-block-content block-info">
                                        <li class="em-links-item">
                                            <a title="em-sample-title" href="#"><span>Discount Voucher</span></a>
                                        </li>
                                        <li class="em-links-item">
                                            <a title="em-sample-title" href="#"><span>Spring Collection</span></a>
                                        </li>
                                        <li class="em-links-item">
                                            <a title="em-sample-title" href="#"><span>Trending</span></a>
                                        </li>
                                        <li class="em-links-item">
                                            <a title="em-sample-title" href="#"><span>Best Sellers</span></a>
                                        </li>
                                    </ul>
                                </div><!-- /.col-sm-4 -->
                                <div class="col-sm-4 text-center">
                                    <div class="em-block-title" data-collapse-target="#collapse02">
                                        <p class="h4 em-text-upercase">
                                            <span>Brands</span>
                                        </p>
                                    </div>
                                    <ul id="collapse02" class="em-links em-block-content block-info">
                                        <li class="em-links-item">
                                            <a title="em-sample-title" href="#"><span>Jack &amp; Jones</span></a>
                                        </li>
                                        <li class="em-links-item">
                                            <a title="em-sample-title" href="#"><span>Calvin Klein</span></a>
                                        </li>
                                        <li class="em-links-item">
                                            <a title="em-sample-title" href="#"><span>Ray Ban</span></a>
                                        </li>
                                        <li class="em-links-item">
                                            <a title="em-sample-title" href="#"><span>River Island</span></a>
                                        </li>
                                    </ul>
                                </div><!-- /.col-sm-4 -->
                                <div class="col-sm-4 text-center">
                                    <div class="em-block-title" data-collapse-target="#collapse03">
                                        <p class="h4 em-text-upercase">
                                            <span>Men shop</span>
                                        </p>
                                    </div>
                                    <ul id="collapse03" class="em-links em-block-content block-info">
                                        <li class="em-links-item">
                                            <a title="em-sample-title" href="#"><span>Top</span></a>
                                        </li>
                                        <li class="em-links-item">
                                            <a title="em-sample-title" href="#"><span>Bottoms</span></a>
                                        </li>
                                        <li class="em-links-item">
                                            <a title="em-sample-title" href="#"><span>Accessories</span></a>
                                        </li>
                                        <li class="em-links-item">
                                            <a title="em-sample-title" href="#"><span>Shoes</span></a>
                                        </li>
                                    </ul>
                                </div><!-- /.col-sm-4 -->
                                <div class="col-sm-4 text-center">
                                    <div class="em-block-title" data-collapse-target="#collapse04">
                                        <p class="h4 em-text-upercase">
                                            <span>Women shop</span>
                                        </p>
                                    </div>
                                    <ul id="collapse04" class="em-links em-block-content block-info">
                                        <li class="em-links-item">
                                            <a title="em-sample-title" href="#"><span>Jeans</span></a>
                                        </li>
                                        <li class="em-links-item">
                                            <a title="em-sample-title" href="#"><span>Dresses</span></a>
                                        </li>
                                        <li class="em-links-item">
                                            <a title="em-sample-title" href="#"><span>Other</span></a>
                                        </li>
                                        <li class="em-links-item">
                                            <a title="em-sample-title" href="#"><span>Shoes</span></a>
                                        </li>
                                    </ul>
                                </div><!-- /.col-sm-4 -->
                                <div class="col-sm-4 text-center">
                                    <div class="em-block-title" data-collapse-target="#collapse05">
                                        <p class="h4 em-text-upercase">
                                            <span>Help</span>
                                        </p>
                                    </div>
                                    <ul id="collapse05" class="em-links em-block-content block-info">
                                        <li class="em-links-item">
                                            <a title="em-sample-title" href="#"><span>F.A.Q.</span></a>
                                        </li>
                                        <li class="em-links-item">
                                            <a title="em-sample-title" href="#"><span>Shipping</span></a>
                                        </li>
                                        <li class="em-links-item">
                                            <a title="em-sample-title" href="http://demo.emthemes.com/everything/index.php/contacts"><span>Contact Us</span></a>
                                        </li>
                                        <li class="em-links-item">
                                            <a title="em-sample-title" href="#"><span>Privacy Policy</span></a>
                                        </li>
                                    </ul>
                                </div><!-- /.col-sm-4 -->
                                <div class="col-sm-4 last text-center">
                                    <div class="em-block-title" data-collapse-target="#collapse06">
                                        <p class="h4 em-text-upercase">
                                            <span>Nation Apps</span>
                                        </p>
                                    </div>
                                    <ul id="collapse06" class="em-links em-block-content block-info">
                                        <li class="em-links-item">
                                            <a title="em-sample-title" href="#"><span>iPhone</span></a>
                                        </li>
                                        <li class="em-links-item">
                                            <a title="em-sample-title" href="#"><span>iPad</span></a>
                                        </li>
                                        <li class="em-links-item">
                                            <a title="em-sample-title" href="#"><span>Android</span></a>
                                        </li>
                                    </ul>
                                </div><!-- /.col-sm-4 -->
                            </div><!-- /.row -->
                            <div class="em-footer-info-bottom">
                                <div class="row">
                                    <div class="col-sm-15 first">
                                        <div class="em-wrapper-newsletter">
                                            <div class="em-block-title" data-collapse-target="#collapse07">
                                                <p class="h4 em-text-upercase">
                                                    <span>Sign Up For Newsletter</span>
                                                </p>
                                            </div>
                                            <div id="collapse07" class="em-block-content em-newsletter">
                                                <div class="em-newsletter-style05">
                                                    <div class="block block-subscribe">
                                                        <form method="post" id="em-newsletter-validate-detail-style03">
                                                            <div class="block-content">
                                                                <div class="form-subscribe-content">
                                                                    <div class="input-box">
                                                                        <input type="text" name="email" id="em-newsletter-style03" title="Sign up for our newsletter" class="input-text required-entry validate-email" placeholder="Sign up for your email ..." />
                                                                    </div>
                                                                    <div class="actions">
                                                                        <button type="submit" title="Subscribe" class="button">
                                                                            <span><span>Subscribe</span></span>
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div><!-- /#collapse07 -->
                                        </div>
                                    </div>
                                    <div class="col-sm-9 last">
                                        <div class="em-wrapper-social f-right">
                                            <div class="em-block-title" data-collapse-target="#collapse08">
                                                <p class="h4 em-text-upercase">
                                                    <span>Follow Us</span>
                                                </p>
                                            </div>
                                            <div id="collapse08" class="em-block-content">
                                                <p class="em-social">
                                                    <a class="em-social-icon em-facebook f-left" title="em-sample-title" href="#"><span class="fa fa-fw"></span></a> <a class="em-social-icon em-twitter f-left" title="em-sample-title" href="#"><span class="fa fa-fw"></span></a> <a class="em-social-icon em-pinterest  f-left" title="em-sample-title" href="#"><span class="fa fa-fw"></span></a> <a class="em-social-icon em-google f-left" title="em-sample-title" href="#"><span class="fa fa-fw"></span></a> <a class="em-social-icon em-rss  f-left" title="em-sample-title" href="#"><span class="fa fa-fw"></span></a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- /.em-footer-info-bottom -->
                        </div><!-- /.em-footer-info -->
                    </div>
                </div>
            </div>
        </div><!-- /.em-footer-top -->
        <div class="em-footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-sm-24">
                        <div class="em-area-footer02">
                            <div class="em-payment f-right">
                                <a class="em-payment-icon em-visa" title="em-sample-title" href="#">visa</a> <a class="em-payment-icon em-master" title="em-sample-title" href="#">master</a> <a class="em-payment-icon em-express " title="em-sample-title" href="#">express</a><a class="em-payment-icon em-paypal" title="em-sample-title" href="#">paypal</a> <a class="em-payment-icon em-other " title="em-sample-title" href="#">other</a>
                            </div>
                        </div>
                        <div class="em-footer-address">
                            <address class="f-left">&copy; 2015 EM0131 Everything Demo Store. All Rights Reserved.<span>HTML Templates by <a href="#" title="Responsive HTML Themes &amp; Responsive HTML Templates">htmlcooker.com</a></span></address>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.em-footer-bottom -->
    </div><!-- /.em-footer-style09 -->
</div><!-- /.em-wrapper-footer -->

<p id="back-top" style="display: none;"><a title="Top" href="#top">Top</a></p>  


