
@{
    ViewBag.Title = "_Category";
}
<div class="em-header-bottom em-fixed-top">
    <div class="container em-menu-fix-pos">
        <div class="row">
            <div class="col-sm-24">
                <div class="em-logo f-left">
                    <a href="index.html" title="Fashion Commerce" class="logo"><strong>Fashion Commerce</strong><img class="retina-img" src="~/Content/images/logo.png" alt="Fashion Commerce" /></a>
                </div>
                <div class="em-logo-sticky f-left">
                    <a href="index.html" title="Fashion Commerce" class="logo">
                        <img src="~/Content/images/logo_small.png" alt="Fashion Commerce" />
                    </a>
                </div>
                <div class="em-search em-search-sticky f-right">
                    <div class="em-top-search">
                        <div class="em-wrapper-js-search em-search-style01">
                            <div class="em-wrapper-search">
                                <a class="em-search-icon" title="Search" href="javascript:void(0);"><span>Search</span></a>
                                <div class="em-container-js-search" style="display: none;">
                                    <form id="search_mini_form_fixed_top" method="get">
                                        <div class="form-search">
                                            <label for="search">Search:</label>
                                            <input id="search-fixed-top" type="text" name="q" value="" class="input-text" maxlength="128" placeholder="Search entire store here..." />
                                            <button type="submit" title="Search" class="button">
                                                <span><span>Search</span></span>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div><!-- /.em-wrapper-js-search -->
                    </div>
                </div><!-- /.em-search -->
                <div class="em-top-cart-sticky em-top-cart f-right">
                    <div class="em-wrapper-js-topcart em-wrapper-topcart em-no-quickshop">
                        <div class="em-container-topcart">
                            <div class="em-summary-topcart">
                                <a class="em-amount-js-topcart em-amount-topcart" title="Shopping Cart" href="/Cart/Index"> <span class="em-topcart-text">My Cart:</span> <span class="em-topcart-qty">0</span> </a>
                            </div>
                            <div class="em-container-js-topcart topcart-popup" style="display:none">
                                <div class="topcart-popup-content">
                                    <p class="em-block-subtitle">Shopping Cart</p>
                                    <div class="topcart-content">
                                        <p class="amount-content "> You have no items in your shopping cart.</p>
                                        <ul>
                                            <!-- Đấy chỉnh lại mấy cái thẻ , với thêm tổng tiền vào là oke-->
                                            <li>1</li>
                                            <li>2</li>
                                            <li>3</li>
                                            <li>4</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.em-wrapper-js-topcart -->
                </div><!-- /.em-top-cart -->
                <div class="em-menu-hoz f-right">
                    <div id="em-main-megamenu">
                        <div class="em-menu">
                            <div class="megamenu-wrapper wrapper-4_7164">
                                <div class="em_nav" id="toogle_menu_4_7164">
                                    <ul class="hnav em_hoz_menu effect-menu">
                                        <li class="menu-item-link menu-item-depth-0  menu-item-parent">
                                            <a class="em-menu-link" href="https://localhost:44365/Home/index"> <span> Home </span> </a>

                                        </li><!-- /.menu-item-link -->



                                        <li class="menu-item-link menu-item-depth-0 hidden-sm hidden-md menu-item-parent">
                                            <a class="em-menu-link" href="#"> <span> Fashion </span> </a>
                                            <ul class="menu-container" style="padding-bottom:130px;background-image:url(~/Content/images/menu/bkg-menu.jpg); background-repeat:no-repeat; background-position: right bottom">
                                                <li class="menu-item-hbox menu-item-depth-1 col-menu menu_col24 grid_24 menu-item-parent" style="">
                                                    <ul class="menu-container" style="padding:0 10px">
                                                        <li class="menu-item-vbox menu-item-depth-2 col-sm-9 menu-item-parent" style="">
                                                            <ul class="menu-container">
                                                                <li class="menu-item-text menu-item-depth-3  ">
                                                                    <p class="img-center">
                                                                        <a href="#" title="em-sample-title">
                                                                            <img class="img-responsive" src="~/Content/menu/em_menu11.png" alt="em-sample-alt" />
                                                                        </a>
                                                                    </p>
                                                                    <p>A friendly responsive design, adaptive screen with the new Bootstrap 3 is already very impressive. Besides that, Visual Content Editor allows you to edit content directly on front-end. Key features for an online market, such as Featured products, Promotions, Deals with Timing, are absolutely ready. It’s no doubt that Titanshop will get traffic for your site, and also help boosting sales.</p>
                                                                    <p>You can change visual appearance of almost every element of this HTML theme. You can set your favorite colors and generate css file from the admin.</p>
                                                                    <p>No coding needed, all can be edited directly in admin panel. Select colors of dozens of elements using color pickers, set hundreds of options, apply textures for header, footer and for the entire page, upload background image and configure its properties (position, repeating, attachment), change font and font-size, and many many more…</p>
                                                                </li>
                                                            </ul>
                                                        </li><!-- /.menu-item-vbox -->
                                                        <li class="menu-item-vbox menu-item-depth-2 col-sm-5 menu-item-parent" style="">
                                                            <ul class="menu-container">
                                                                <li class="menu-item-text menu-item-depth-3  ">


                                                                </li>
                                                            </ul>
                                                        </li><!-- /.menu-item-vbox -->
                                                        <li class="menu-item-vbox menu-item-depth-2 col-sm-5 menu-item-parent" style="">
                                                            <ul class="menu-container">
                                                                <li class="menu-item-text menu-item-depth-3  ">
                                                                    <div class="em-line-01">
                                                                        <h5 class="text-uppercase">ĐỒ NAM</h5>
                                                                        <div>
                                                                            <ul class="em-catalog-navigation ">
                                                                                <li class="level0 nav-1 first">
                                                                                    <a href="#"> <span>Áo phông</span> </a>
                                                                                </li>
                                                                                <li class="level0 nav-2">
                                                                                    <a href="#"> <span>Áo sơ mi</span> </a>
                                                                                </li>
                                                                                <li class="level0 nav-3">
                                                                                    <a href="#"> <span>Quần tây</span> </a>
                                                                                </li>
                                                                                <li class="level0 nav-4">
                                                                                    <a href="#"> <span>Quần jean</span> </a>
                                                                                </li>
                                                                                <li class="level0 nav-5">
                                                                                    <a href="#"> <span>Đồ thể thao</span> </a>
                                                                                </li>
                                                                                <li class="level0 nav-6">
                                                                                    <a href="#"> <span>Vest</span> </a>
                                                                                </li>


                                                                            </ul><!-- /.em-catalog-navigation -->
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </li><!-- /.menu-item-vbox -->
                                                        <li class="menu-item-vbox menu-item-depth-2 col-sm-5 menu-item-parent" style="">
                                                            <ul class="menu-container">
                                                                <li class="menu-item-text menu-item-depth-3  ">
                                                                    <div class="em-line-01">
                                                                        <h5 class="text-uppercase"> NỮ</h5>
                                                                        <div>
                                                                            <ul class="em-catalog-navigation ">
                                                                                <li class="level0 nav-1 first">
                                                                                    <a href="#"> <span>Áo phông</span> </a>
                                                                                </li>
                                                                                <li class="level0 nav-2">
                                                                                    <a href="#"> <span>Áo sơ mi</span> </a>
                                                                                </li>
                                                                                <li class="level0 nav-3">
                                                                                    <a href="#"> <span>Quần legging</span> </a>
                                                                                </li>
                                                                                <li class="level0 nav-4">
                                                                                    <a href="#"> <span>Quần bagging</span> </a>
                                                                                </li>
                                                                                <li class="level0 nav-5">
                                                                                    <a href="#"> <span>QUần tây</span> </a>
                                                                                </li>
                                                                                <li class="level0 nav-6">
                                                                                    <a href="#"> <span>Quần jean</span> </a>
                                                                                </li>
                                                                                <li class="level0 nav-7">
                                                                                    <a href="#"> <span>Quần ống rộng</span> </a>
                                                                                </li>
                                                                                <li class="level0 nav-8 last">
                                                                                    <a href="#"> <span>Váy</span> </a>
                                                                                </li>
                                                                            </ul><!-- /.em-catalog-navigation -->
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </li><!-- /.menu-item-vbox -->
                                                    </ul>
                                                </li>
                                            </ul><!-- /.menu-container -->
                                        </li><!-- /.menu-item-link -->


                                        <li class="menu-item-link menu-item-depth-0  menu-item-parent">
                                            <a class="em-menu-link" href="https://localhost:44365/Blog/Index"> <span> Blog </span> </a>

                                        </li><!-- /.menu-item-link -->
                                    </ul><!-- /.hnav em_hoz_menu -->
                                </div><!-- /.em_nav -->
                            </div><!-- /.megamenu-wrapper -->
                        </div><!-- /.em-menu -->
                    </div><!-- /#em-main-megamenu -->
                </div><!-- /.em-menu-hoz -->
            </div>
        </div>
    </div><!-- /.container -->

