
@{
    ViewBag.Title = "_Category";
}
<div class="em-header-bottom em-fixed-top">
    <div class="container em-menu-fix-pos">
        <div class="row">
            <div class="col-sm-24">
                <div class="em-logo f-left">
                    <a href="index.html" title="Fashion Commerce" class="logo"><strong>Fashion Commerce</strong><img class="retina-img" src="~/Content/images/logo.png" alt="Fashion Commerce" /></a>
                </div>
                <div class="em-logo-sticky f-left">
                    <a href="index.html" title="Fashion Commerce" class="logo">
                        <img src="~/Content/images/logo_small.png" alt="Fashion Commerce" />
                    </a>
                </div>
                <div class="em-search em-search-sticky f-right">
                    <div class="em-top-search">
                        <div class="em-wrapper-js-search em-search-style01">
                            <div class="em-wrapper-search">
                                <a class="em-search-icon" title="Search" href="javascript:void(0);"><span>Search</span></a>
                                <div class="em-container-js-search" style="display: none;">
                                    <form id="search_mini_form_fixed_top" method="get">
                                        <div class="form-search">
                                            <label for="search">Search:</label>
                                            <input id="search-fixed-top" type="text" name="searchname" value="" class="input-text" maxlength="128" placeholder="Search entire store here..." />
                                            <button type="submit" title="Search" class="button">
                                                <span><span>Search</span></span>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div><!-- /.em-wrapper-js-search -->
                    </div>
                </div><!-- /.em-search -->
                <div class="em-top-cart-sticky em-top-cart f-right">
                    <div class="em-wrapper-js-topcart em-wrapper-topcart em-no-quickshop" id="quickCart">
                        <div class="em-container-topcart">
                            <div class="em-summary-topcart">
                                <a class="em-amount-js-topcart em-amount-topcart" title="Shopping Cart" href="/Cart/Index"> <span class="em-topcart-text">My Cart:</span> <span class="em-topcart-qty">0</span> </a>
                            </div>
                            <div class="em-container-js-topcart topcart-popup" style="display:none">
                                <!-- Div cha nó đây này-->
                                <div class="topcart-popup-content">
                                    <!-- Quick cart-->
                                </div>
                            </div>
                        </div>
                    </div><!-- /.em-wrapper-js-topcart -->
                </div><!-- /.em-top-cart -->
                <div class="em-menu-hoz f-right">
                    <div id="em-main-megamenu">
                        <div class="em-menu">
                            <div class="megamenu-wrapper wrapper-4_7164">
                                <div class="em_nav" id="toogle_menu_4_7164">
                                    <ul class="hnav em_hoz_menu effect-menu">
                                        <li class="menu-item-link menu-item-depth-0  menu-item-parent">
                                            <a class="em-menu-link" href="https://localhost:44365/Home/index"> <span> Home </span> </a>
                                        </li>
                                        <!-- /.menu-item-link-->
                                        <li class="menu-item-link menu-item-depth-0  menu-item-parent">
                                            <a class="em-menu-link" href="@Url.Action("Index","Cart")"> <span> Giỏ hàng </span> </a>
                                        </li>
                                        <li class="menu-item-link menu-item-depth-0 hidden-sm hidden-md menu-item-parent">
                                            <a class="em-menu-link" href="@Url.Action("Index","Product")"> <span> Fashion </span> </a>
                                            
                                        </li><!-- /.menu-item-link -->


                                        <li class="menu-item-link menu-item-depth-0  menu-item-parent">
                                            <a class="em-menu-link" href="https://localhost:44365/Blog/Index"> <span> Blog </span> </a>

                                        </li><!-- /.menu-item-link -->
                                    </ul><!-- /.hnav em_hoz_menu -->
                                </div><!-- /.em_nav -->
                            </div><!-- /.megamenu-wrapper -->
                        </div><!-- /.em-menu -->
                    </div><!-- /#em-main-megamenu -->
                </div><!-- /.em-menu-hoz -->
            </div>
        </div>
    </div><!-- /.container -->


