@model IEnumerable<Data.DTO.OrderDetailDTO>
<div class="em-container-topcart">
    <div class="em-summary-topcart">
        <a class="em-amount-js-topcart em-amount-topcart" title="Shopping Cart" href="/Cart/Index"> <span class="em-topcart-text">My Cart:</span> <span class="em-topcart-qty">@Model.Count()</span> </a>
    </div>
    <div class="em-container-js-topcart topcart-popup" style="display:none">
        <!-- Div cha nó đây này-->
        <div class="topcart-popup-content">
            <div class="single-bar` shopping">
                <a href="@Url.Action("Index","Cart")" class="single-icon"><i class="ti-bag"></i> <span class="total-count"></span></a>
                <!-- Shopping Item -->
                <div class="shopping-item">
                    <div class="dropdown-cart-header">
                        <span>3 SẢN PHẨM</span>
                        <a href="@Url.Action("Index","Cart")" style="float: right; color: #000;">XEM GIỎ HÀNG</a>
                    </div>
                    <ul class="shopping-list">
                        <li>
                            <a class="cart-img" href="#"><img src="~/Images/images/quansort.jpg" alt="#"></a>
                            <a href="#" style="color:#000">Áo</a>
                            <p class="quantity">
                                3 x <span class="amount">70 $</span>
                            </p>
                            <a href="#" name="Name" class="remove btn-del-cart" title="Remove this item">X</a>

                        </li>
                        @foreach (var item in Model)
                        {
                            <li>
                                <a class="cart-img" href="#"><img src="~/Images/images/quansort.jpg" alt="#"></a>
                                <a href="#" style="color:#000">Áo</a>
                                <p class="quantity">
                                    3 x <span class="amount">70 $</span>
                                </p>
                                <a href="#" name="Name" class="remove btn-del-cart" title="Remove this item">X</a>

                            </li>
                        }
                    </ul>
                    <div class="bottom">
                        <div class="total">
                            <span>TOTAL</span>
                            <span class="total-amount">$ 500</span>
                        </div>
                        <a href="@Url.Action("Index","Cart")" class="btn animate">Checkout</a>
                    </div>
                </div>
                <!--/ End Shopping Item -->
            </div>
        </div><!-- /.em-wrapper-js-topcart -->
    </div><!-- /.em-top-cart -->
</div>