
@{
    ViewBag.Title = "_Register";
}


<ul class="list-inline f-right">
    <li><a class="em-register-link" href="https://localhost:44365/Register/FormRegister" title="Register">Register</a></li>
</ul>

