
@{
    ViewBag.Title = "_Search";
}


    <div class="em-search f-right">
        <div class="em-top-search">
            <div class="em-wrapper-js-search em-search-style01">
                <div class="em-wrapper-search em-no-category-search">
                    <a class="em-search-icon" title="Search" href="javascript:void(0);"><span>Search</span></a>
                    <div class="em-container-js-search" style="display: none;">
                        <form id="search_mini_form" method="get">
                            <div class="form-search no_cate_search">
                                <div class="text-search">
                                    <label for="search">Search:</label>
                                    <input id="search" type="text" name="q" value="" class="input-text" maxlength="128" placeholder="Search entire store here..." />
                                    <button type="submit" title="Search" class="button">
                                        <span><span>Search</span></span>
                                    </button>
                                </div>
                            </div>
                        </form><!-- /#search_mini_form -->
                    </div>
                </div>
            </div><!-- /.em-wrapper-js-search -->
        </div>
    </div><!-- /.em-search -->
  
