@model IEnumerable<Data.DTO.ShopInformationDTO>

@{
    ViewBag.Title = "Index";
}

@section MyCss{
    <link href="~/Content/admin/plugins/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.css" rel="stylesheet" />
}
<section class="content">
    <div class="container-fluid">
        <!-- Exportable Table -->
        <div id="tableProducts" class="row clearfix dataTable">

        </div>


    </div>


</section>

@section js{

}
@section MyJs{
    <script>
        LoadData('/admin/ShopInformation/ListShopInformation', 'dataTable');
    </script>
}