
@model Data.DTO.SuppelierDTO

<div class="update-info">
    <form id="formAddOrUpdate">

        @if (ViewBag.data == null)
        {
            <input type="number" name="ID" value="0" class="form-control hidden" readonly hidden />
            <div class="row m-0">
                <div class="col-md-3">
                    <label>Tên khuyến mãi</label>
                    <input type="text" value="" name="Name" class="form-control" />

                    <div class="error"></div>

                </div>
                <div class="col-md-4">
                    <label>Chi tiết</label>
                    <input type="text" name="Detail" rows="5" value="" class="form-control"/>

                    <div class="error"></div>
                </div>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button class="btn-update btn btn-primary" type="button" onclick="AddOrUpdate('formAddOrUpdate', '/admin/Tag/AddOrUpdate', '/admin/Suppelier/listTag', 'dataTable');AddLog('Update 1 khuyến mãi', '/admin/Log/addLog/')"> Thêm mới</button>
            </div>
        }
        else
        {
            <input type="number" name="ID" value="@ViewBag.data.ID" class="form-control hidden" readonly hidden />
            <div class="row m-0">
                <div class="col-md-3">
                    <label>Tên khuyến mãi</label>
                    <input type="text" value="@ViewBag.data.Name" name="Name" class="form-control" />
                    <div class="error"></div>
                </div>
                <div class="col-md-4">
                    <label>Chi tiết</label>
                    <input type="text" name="Detail" rows="5" value="@ViewBag.data.Detail" class="form-control"></input>

                    <div class="error"></div>
                </div>
                

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button class="btn-update btn btn-primary" type="button" onclick="AddOrUpdate('formAddOrUpdate', '/admin/Tag/AddOrUpdate', '/admin/Tag/listTag', 'dataTable'); AddLog('Thay đổi thông tin 1 khuyến mãi có ID=' +@ViewBag.datID, '/admin/Log/addLog/')"> Cập nhập</button>
            </div>
        }
    </form>
</div>



