
@{
    ViewBag.Title = "Index";
}

<div class="em-wrapper-main">
    <div class="container container-main">
        <div class="em-inner-main">
            <div class="em-wrapper-area02"></div>
            <div class="em-main-container em-col2-left-layout">
                <div class="row">
                    <div class="col-sm-18 col-sm-push-6 em-col-main">
                        <div class="em_post-items">
                            <div class="em_post-item">
                                <div class="post-title">
                                    <h2><a href="blog-detail.html">Pineapples, Mermaids and More Kooks Hit Secret Garden Festival</a></h2>
                                </div>
                                <div class="post-header">
                                    <p class="post-by">
                                        <span class="post-user"><span>admin</span></span>
                                    </p> <span class="post-time"><small class="time-stamp">Jul 21 2015</small></span> <span class="comment-count"> 3 </span> <a class="comment-post-link" href="blog-detail.html">Comments</a>
                                </div>
                                <div class="post-image">
                                    <a href="blog-detail.html"> <img class="img-responsive" alt="" src="~/Content/images/blog/em_ads_07_15.jpg" /> </a>
                                </div>
                                <div class="post-content">
                                    <div class="std">
                                        <p>
                                            <span>Boutique festival Secret Garden went down in Sydney&rsquo;s&nbsp;Camden over the weekend, and all the free-spirited kids came out to play in a mix of creative and outlandish ensembles. Seriously, if you didn&rsquo;t scream eccentric and quirky, you would&rsquo;ve felt like the odd one out amongst the aliens, mermaids and glittery hippies dripping in face paint, flash tatts, tiaras, and clangling gypsy necklaces.</span>
                                        </p>
                                    </div>
                                </div>
                            </div><!-- /.em_post-item -->
                            <div class="em_post-item">
                                <div class="post-title">
                                    <h2><a href="blog-detail.html">11 Emerging Jewelry Designers You Need to Know</a></h2>
                                </div>
                                <div class="post-header">
                                    <p class="post-by">
                                        <span class="post-user"><span>admin</span></span>
                                    </p> <span class="post-time"><small class="time-stamp">Jul 21 2015</small></span> <span class="comment-count"> 0 </span> <a class="comment-post-link" href="blog-detail.html">Comments</a>
                                </div>
                                <div class="post-image">
                                    <a href="blog-detail.html"> <img class="img-responsive" alt="" src="~/Content/images/blog/em_ads_08_14.jpg" /> </a>
                                </div>
                                <div class="post-content">
                                    <div class="std">
                                        <p>
                                            Jewelry<span>&nbsp;designers are a little like the stepchild of the fashion industry. They&rsquo;re adored, but tend to play second fiddle to fashion brands</span>
                                        </p>
                                    </div>
                                </div>
                            </div><!-- /.em_post-item -->
                            <div class="em_post-item">
                                <div class="post-title">
                                    <h2><a href="blog-detail.html">Target’s Lilly Pulitzer Collaboration to Include Cosmetics</a></h2>
                                </div>
                                <div class="post-header">
                                    <p class="post-by">
                                        <span class="post-user"><span>admin</span></span>
                                    </p> <span class="post-time"><small class="time-stamp">Jul 21 2015</small></span> <span class="comment-count"> 0 </span> <a class="comment-post-link" href="blog-detail.html">Comments</a>
                                </div>
                                <div class="post-image">
                                    <a href="blog-detail.html"> <img class="img-responsive" alt="" src="~/Content/images/blog/em_ads_09_9.jpg" /> </a>
                                </div>
                                <div class="post-content">
                                    <div class="std">
                                        <p>
                                            <span>A few weeks after announcing that&nbsp;</span>Lilly Pulitzer<span>&nbsp;would be its next design collaboration, which will include a&nbsp;plus-sized range and home furnishings, Target has announced that color cosmetics will also be a part of the collection. This marks the first time any of the retailer&rsquo;s designer collaborations have included a beauty component.</span>
                                        </p>
                                    </div>
                                </div>
                            </div><!-- /.em_post-item -->
                            <div class="em_post-item">
                                <div class="post-title">
                                    <h2><a href="blog-detail.html">The Apple Watch Sport Is Apparently Not Scratch-Proof</a></h2>
                                </div>
                                <div class="post-header">
                                    <p class="post-by">
                                        <span class="post-user"><span>admin</span></span>
                                    </p> <span class="post-time"><small class="time-stamp">Jul 21 2015</small></span> <span class="comment-count"> 0 </span> <a class="comment-post-link" href="blog-detail.html">Comments</a>
                                </div>
                                <div class="post-image">
                                    <a href="blog-detail.html"> <img class="img-responsive" alt="" src="~/Content/images/blog/em_ads_07_16.jpg" /> </a>
                                </div>
                                <div class="post-content">
                                    <div class="std">
                                        <p>
                                            <span>If you ordered yourself an Apple Watch Sport, you might want to treat it with a little TLC now that&nbsp;</span>reports<span>&nbsp;are coming out that it might not be as durable a device as you think. It turns out the least expensive iteration of the Apple Watch has a bit of a cosmetic issue that could prove to be&nbsp;</span><em>really</em><span>&nbsp;annoying when you&rsquo;re looking at your watch face to see if it&rsquo;s time for you to&nbsp;</span>get up and walk around<span>&nbsp;after spending hours on the couch in the throes of a&nbsp;</span>Netflix binge<span>.</span>
                                        </p>
                                    </div>
                                </div>
                            </div><!-- /.em_post-item -->
                            <div class="em_post-item">
                                <div class="post-title">
                                    <h2><a href="blog-detail.html">10 Designer Lines for High Fashion Kids</a></h2>
                                </div>
                                <div class="post-header">
                                    <p class="post-by">
                                        <span class="post-user"><span>admin</span></span>
                                    </p> <span class="post-time"><small class="time-stamp">Jul 21 2015</small></span> <span class="comment-count"> 0 </span> <a class="comment-post-link" href="blog-detail.html">Comments</a>
                                </div>
                                <div class="post-image">
                                    <a href="blog-detail.html"> <img class="img-responsive" alt="" src="~/Content/images/blog/em_ads_08_15.jpg" /> </a>
                                </div>
                                <div class="post-content">
                                    <div class="std">
                                        <p>
                                            <span>Toddlers may grow so fast that they need completely new wardrobes every few months (and in some cases weeks), but that&rsquo;s not stopping fashion-forward parents with a taste for luxury from paying top dollar for designer looks for their little ones. To that end, countless high-end designers have branched out into children&rsquo;s wear &mdash; yes that means&nbsp;</span><strong>Bonpoint</strong><span>&nbsp;is no longer the pinnacle of toddler luxury.</span>
                                        </p>
                                    </div>
                                </div>
                            </div><!-- /.em_post-item -->
                        </div><!-- /.em_post-items -->
                        <div class="toolbar">
                            <div class="pager">
                                <p class="amount"> Items 1 to 5 of 9 total</p>
                                <div class="pages">
                                    <ol>
                                        <li class="current">1</li>
                                        <li>
                                            <a href="#">2</a>
                                        </li>
                                        <li>
                                            <a class="next i-next" href="#" title="Next"> <img src="~/Content/images/pager_arrow_right.gif" alt="Next" class="v-middle" /> </a>
                                        </li>
                                    </ol>
                                </div>
                            </div><!-- /.pager -->
                            <div class="sorter">
                                <div class="sort-by">
                                    <label>Sort By</label>
                                    <select>
                                        <option value="created_at" selected="selected"> Time</option>
                                        <option value="title"> Name</option>
                                    </select>
                                    <a href="#" title="Set Ascending Direction">
                                        <img src="~/Content/images/i_asc_arrow.gif" alt="Set Ascending Direction" class="v-middle" />
                                    </a>
                                </div>
                            </div><!-- /.sorter -->
                            <a class="rss-em-blog" target="blank" href="#"> <img alt="Newsfeed" title="Newsfeed" src="~/Content/images/icon-RSS1.jpg" /> </a>
                        </div><!-- /.toolbar -->
                    </div><!-- /.em-col-main -->
                    <div class="col-sm-6 col-sm-pull-18 em-col-left em-sidebar">
                        <div class="block em_blog-cat em-line-01">
                            <div class="block-title">
                                <strong><span>Blog Categories</span></strong>
                            </div>
                            <div class="block-content">
                                <ul class="nav-blog">
                                    <li class=' level0 first parent'>
                                        <a href='#'><span>Fashion</span></a>
                                        <ul class='level0'>
                                            <li class=' level1 first '>
                                                <a href='#'><span>Men Fashion</span></a>
                                            </li>
                                            <li class=' level1 last '>
                                                <a href='#'><span>Woman Fashion</span></a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class=' level0  '>
                                        <a href='#'><span>Shoes</span></a>
                                    </li>
                                    <li class=' level0  '>
                                        <a href='#'><span>Glass</span></a>
                                    </li>
                                    <li class=' level0  '>
                                        <a href='#'><span>Baby</span></a>
                                    </li>
                                    <li class=' level0  '>
                                        <a href='#'><span>Sport</span></a>
                                    </li>
                                    <li class=' level0  '>
                                        <a href='#'><span>Swatch</span></a>
                                    </li>
                                    <li class=' level0  '>
                                        <a href='#'><span>Jewelry</span></a>
                                    </li>
                                    <li class=' level0 last '>
                                        <a href='#'><span>Garden</span></a>
                                    </li>
                                </ul>
                            </div>
                        </div><!-- /.block -->
                        <div class="block em_block-recent-post em-line-01">
                            <div class="block-title">
                                <strong><span>Recent Posts</span></strong>
                            </div>
                            <div class="block-content">
                                <ul class="em-recent-post">
                                    <li class="item">
                                        <a href="blog-detail.html"> <img alt="" src="~/Content/images/blog/em_ads_07_15.jpg" /> </a> <a class="post-title em-blog-title" href="blog-detail.html">Pineapples, Mermaids and More Kooks Hit Secret Garden Festival</a>
                                        <p class="intro">
                                        <p>
                                            <span>Boutique festival Secret Garden went down in Sydney&rsquo;s&nbsp;Camden over the weekend, and all the free-spirited kids came out to play in a mix of creative and outlandish ensembles. Seriously, if you didn&rsquo;t scream eccentric and quirky, you would&rsquo;ve felt like the odd one out amongst the aliens, mermaids and glittery hippies dripping in face paint, flash tatts, tiaras, and clangling gypsy necklaces.</span>
                                        </p>
                                        
                                        <div class="post-header">
                                            <p class="post-by">
                                                <span class="post-user"><span>admin</span></span>
                                            </p> <span class="post-time"><small class="time-stamp">Jul 21 2015</small></span>
                                        </div>
                                    </li>
                                    <li class="item">
                                        <a href="blog-detail.html"> <img alt="" src="~/Content/images/blog/em_ads_08_14.jpg" /> </a> <a class="post-title em-blog-title" href="blog-detail.html">11 Emerging Jewelry Designers You Need to Know</a>
                                        <p class="intro">
                                        <p>
                                            Jewelry<span>&nbsp;designers are a little like the stepchild of the fashion industry. They&rsquo;re adored, but tend to play second fiddle to fashion brands</span>
                                        </p>
                                        
                                        <div class="post-header">
                                            <p class="post-by">
                                                <span class="post-user"><span>admin</span></span>
                                            </p> <span class="post-time"><small class="time-stamp">Jul 21 2015</small></span>
                                        </div>
                                    </li>
                                    <li class="item">
                                        <a href="blog-detail.html"> <img alt="" src="~/Content/images/blog/em_ads_09_9.jpg" /> </a> <a class="post-title em-blog-title" href="blog-detail.html">Target’s Lilly Pulitzer Collaboration to Include Cosmetics</a>
                                        <p class="intro">
                                        <p>
                                            <span>A few weeks after announcing that&nbsp;</span>Lilly Pulitzer<span>&nbsp;would be its next design collaboration, which will include a&nbsp;plus-sized range and home furnishings, Target has announced that color cosmetics will also be a part of the collection. This marks the first time any of the retailer&rsquo;s designer collaborations have included a beauty component.</span>
                                        </p>
                                        
                                        <div class="post-header">
                                            <p class="post-by">
                                                <span class="post-user"><span>admin</span></span>
                                            </p> <span class="post-time"><small class="time-stamp">Jul 21 2015</small></span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div><!-- /.block -->
                        <div class="block em_block-recent-comments em-line-01">
                            <div class="block-title">
                                <strong><span>Recent Comments</span></strong>
                            </div>
                            <div class="block-content">
                                <ul class="em-blog-recent-comment">
                                    <li class="recent-comment-item">
                                        <a class="comment-title" href="blog-detail.html">Pineapples, Mermaids and More Kooks Hit Secret Garden Festival</a>
                                        <div class="recent-comment-content"> We are particularly excited about this transaction...</div>
                                        <div class="comment-header">
                                            <span class="comment-by"> <span>Ben Sherman</span> </span> <span class="post-time"><small class="time-stamp">Jul 22 2015</small></span>
                                        </div>
                                    </li>
                                    <li class="recent-comment-item">
                                        <a class="comment-title" href="blog-detail.html">Pineapples, Mermaids and More Kooks Hit Secret Garden Festival</a>
                                        <div class="recent-comment-content"> It will be interesting to see which firms seize...</div>
                                        <div class="comment-header">
                                            <span class="comment-by"> <span>Drappers</span> </span> <span class="post-time"><small class="time-stamp">Jul 22 2015</small></span>
                                        </div>
                                    </li>
                                    <li class="recent-comment-item">
                                        <a class="comment-title" href="blog-detail.html">Pineapples, Mermaids and More Kooks Hit Secret Garden Festival</a>
                                        <div class="recent-comment-content"> s the fashion business as guilty as any other...</div>
                                        <div class="comment-header">
                                            <span class="comment-by"> <span>Musgrave</span> </span> <span class="post-time"><small class="time-stamp">Jul 22 2015</small></span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div><!-- /.block -->
                        <div class="block em_block-tag-cloud em-line-01">
                            <div class="block-title">
                                <strong><span>Tag Cloud</span></strong>
                            </div>
                            <div class="block-content">
                                <ul>
                                    <li class="item">
                                        <a href="#" style="font-size:32px;">shoes</a>
                                    </li>
                                    <li class="item">
                                        <a href="#" style="font-size:12px;">fashion</a>
                                    </li>
                                    <li class="item">
                                        <a href="#" style="font-size:12px;">kid</a>
                                    </li>
                                    <li class="item">
                                        <a href="#" style="font-size:12px;">sport</a>
                                    </li>
                                    <li class="item">
                                        <a href="#" style="font-size:12px;">style</a>
                                    </li>
                                    <li class="item">
                                        <a href="#" style="font-size:12px;">comestic</a>
                                    </li>
                                    <li class="item">
                                        <a href="#" style="font-size:12px;">aging</a>
                                    </li>
                                    <li class="item">
                                        <a href="#" style="font-size:12px;">jewelry</a>
                                    </li>
                                    <li class="item">
                                        <a href="#" style="font-size:12px;">you</a>
                                    </li>
                                    <li class="item">
                                        <a href="#" style="font-size:12px;">garden</a>
                                    </li>
                                    <li class="item">
                                        <a href="#" style="font-size:12px;">mistakes</a>
                                    </li>
                                    <li class="item">
                                        <a href="#" style="font-size:12px;">your</a>
                                    </li>
                                </ul>
                                <div class="actions">
                                    <a class="button-link" href="#"><span><span>View All Tags</span></span></a>
                                </div>
                            </div>
                        </div><!-- /.block -->
                    </div><!-- /. em-sidebar -->
                </div>
            </div><!-- /.em-main-container -->
        </div>
    </div>
</div>


