USE [master]
GO
/****** Object:  Database [ShopOnline-v1]    Script Date: 5/11/2021 9:20:23 PM ******/
CREATE DATABASE [ShopOnline-v1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ShopOnline-v1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.VANH\MSSQL\DATA\ShopOnline-v1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ShopOnline-v1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.VANH\MSSQL\DATA\ShopOnline-v1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ShopOnline-v1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ShopOnline-v1]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 5/11/2021 9:20:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 5/11/2021 9:20:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_dbo.Categories] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Colors]    Script Date: 5/11/2021 9:20:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Colors](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Detail] [nvarchar](256) NULL,
 CONSTRAINT [PK_dbo.Colors] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ConfirmStatus]    Script Date: 5/11/2021 9:20:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConfirmStatus](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](256) NULL,
 CONSTRAINT [PK_dbo.ConfirmStatus] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contacts]    Script Date: 5/11/2021 9:20:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contacts](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Email] [varchar](50) NULL,
	[Mobile] [varchar](15) NULL,
	[Title] [nvarchar](50) NULL,
	[Content] [text] NULL,
	[CreatedAt] [datetime] NULL,
 CONSTRAINT [PK_dbo.Contacts] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DiscountCodes]    Script Date: 5/11/2021 9:20:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiscountCodes](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](max) NULL,
	[Detail] [nvarchar](max) NULL,
	[StartTime] [datetime] NOT NULL,
	[EndTime] [datetime] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[CreatedBy] [int] NULL,
 CONSTRAINT [PK_dbo.DiscountCodes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ImageDetail]    Script Date: 5/11/2021 9:20:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ImageDetail](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NULL,
	[Description] [nvarchar](256) NULL,
	[Url] [varchar](256) NULL,
 CONSTRAINT [PK_dbo.ImageDetail] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Logs]    Script Date: 5/11/2021 9:20:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Logs](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Content] [text] NULL,
	[CreatedBy] [int] NULL,
	[CreateAt] [datetime] NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_dbo.Logs] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetai]    Script Date: 5/11/2021 9:20:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetai](
	[OrderID] [int] NOT NULL,
	[ProductDetaiID] [int] NOT NULL,
	[Price] [float] NULL,
	[Quantity] [int] NULL,
	[Discount] [float] NULL,
	[Total] [float] NULL,
	[ProductDetail_ID] [int] NULL,
 CONSTRAINT [PK_dbo.OrderDetai] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC,
	[ProductDetaiID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 5/11/2021 9:20:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Address] [nvarchar](256) NULL,
	[Mobile] [varchar](15) NULL,
	[UserID] [int] NULL,
	[Payment] [nvarchar](50) NULL,
	[Total] [float] NULL,
	[Fee] [float] NULL,
	[Discount] [float] NULL,
	[Status] [bit] NULL,
	[ConfirmStatusId] [int] NULL,
	[CreatedAt] [datetime] NULL,
 CONSTRAINT [PK_dbo.Orders] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Posts]    Script Date: 5/11/2021 9:20:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Posts](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NULL,
	[Image] [nvarchar](256) NULL,
	[Description] [nvarchar](max) NULL,
	[Content] [nvarchar](max) NULL,
	[Status] [bit] NULL,
	[CreatedAt] [datetime] NULL,
	[ModifyBy] [int] NULL,
	[ModifyAt] [datetime] NULL,
	[CreatedBy] [int] NULL,
 CONSTRAINT [PK_dbo.Posts] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductDetail]    Script Date: 5/11/2021 9:20:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductDetail](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NULL,
	[SizeID] [int] NULL,
	[ColorID] [int] NULL,
	[UrlImage] [varchar](256) NULL,
	[Invenory] [int] NULL,
 CONSTRAINT [PK_dbo.ProductDetail] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 5/11/2021 9:20:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Code] [varchar](12) NULL,
	[Name] [nvarchar](50) NULL,
	[CategoryID] [int] NULL,
	[UrlImage] [varchar](256) NULL,
	[ImportPrice] [float] NULL,
	[ExportPrice] [float] NULL,
	[Description] [ntext] NULL,
	[Discount] [float] NULL,
	[TotalPurchase] [int] NULL,
	[TotalInventory] [int] NULL,
	[Status] [bit] NULL,
	[ShowOnHome] [bit] NULL,
	[SupplierID] [int] NULL,
 CONSTRAINT [PK_dbo.Products] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 5/11/2021 9:20:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Detail] [nvarchar](256) NULL,
 CONSTRAINT [PK_dbo.Roles] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShopInformation]    Script Date: 5/11/2021 9:20:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShopInformation](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Logo] [varchar](max) NULL,
	[TaxCode] [varchar](50) NULL,
	[Address] [nvarchar](max) NULL,
	[Moblie] [varchar](15) NULL,
	[Email] [varchar](max) NULL,
	[Facebook] [varchar](max) NULL,
	[Instagram] [varchar](max) NULL,
	[Twitter] [varchar](max) NULL,
	[Youtube] [varchar](max) NULL,
	[Zalo] [varchar](max) NULL,
 CONSTRAINT [PK_dbo.ShopInformation] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sizes]    Script Date: 5/11/2021 9:20:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sizes](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Detail] [nvarchar](256) NULL,
 CONSTRAINT [PK_dbo.Sizes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Statistical]    Script Date: 5/11/2021 9:20:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Statistical](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Title] [nvarchar](256) NULL,
	[Content] [text] NULL,
	[CreatedBy] [int] NULL,
	[CreatedAt] [datetime] NULL,
 CONSTRAINT [PK_dbo.Statistical] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suppeliers]    Script Date: 5/11/2021 9:20:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suppeliers](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Andress] [nvarchar](256) NULL,
	[Mobile] [varchar](15) NULL,
	[Email] [varchar](50) NULL,
	[Manager] [nvarchar](50) NULL,
 CONSTRAINT [PK_dbo.Suppeliers] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TagProduct]    Script Date: 5/11/2021 9:20:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TagProduct](
	[ProductID] [int] NOT NULL,
	[TagID] [int] NOT NULL,
	[Detail] [nvarchar](256) NULL,
 CONSTRAINT [PK_dbo.TagProduct] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC,
	[TagID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tags]    Script Date: 5/11/2021 9:20:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tags](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Detail] [nvarchar](256) NULL,
 CONSTRAINT [PK_dbo.Tags] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transactions]    Script Date: 5/11/2021 9:20:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transactions](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NULL,
	[CreateAt] [datetime] NULL,
	[Note] [nvarchar](256) NULL,
	[Status] [bit] NULL,
	[CreateBy] [int] NULL,
 CONSTRAINT [PK_dbo.Transactions] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 5/11/2021 9:20:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NULL,
	[Password] [varchar](50) NULL,
	[Name] [nvarchar](50) NULL,
	[Address] [nvarchar](256) NULL,
	[Mobile] [varchar](15) NULL,
	[Email] [varchar](50) NULL,
	[RoleID] [int] NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_dbo.Users] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([ID], [Name], [Status]) VALUES (1, N'Áo thun', 1)
INSERT [dbo].[Categories] ([ID], [Name], [Status]) VALUES (2, N'Áo khoác', 1)
INSERT [dbo].[Categories] ([ID], [Name], [Status]) VALUES (3, N'Áo sơ mi', 1)
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Colors] ON 

INSERT [dbo].[Colors] ([ID], [Name], [Detail]) VALUES (1, N'Xanh', NULL)
INSERT [dbo].[Colors] ([ID], [Name], [Detail]) VALUES (2, N'Đỏ', NULL)
INSERT [dbo].[Colors] ([ID], [Name], [Detail]) VALUES (3, N'Tím', NULL)
SET IDENTITY_INSERT [dbo].[Colors] OFF
GO
SET IDENTITY_INSERT [dbo].[ConfirmStatus] ON 

INSERT [dbo].[ConfirmStatus] ([ID], [Name]) VALUES (1, N'Chờ duyệt')
INSERT [dbo].[ConfirmStatus] ([ID], [Name]) VALUES (2, N'Đã duyệt')
SET IDENTITY_INSERT [dbo].[ConfirmStatus] OFF
GO
INSERT [dbo].[OrderDetai] ([OrderID], [ProductDetaiID], [Price], [Quantity], [Discount], [Total], [ProductDetail_ID]) VALUES (2, 2, 70000, 2, 0, 140000, NULL)
INSERT [dbo].[OrderDetai] ([OrderID], [ProductDetaiID], [Price], [Quantity], [Discount], [Total], [ProductDetail_ID]) VALUES (2, 3, 70000, 2, 0, 140000, NULL)
INSERT [dbo].[OrderDetai] ([OrderID], [ProductDetaiID], [Price], [Quantity], [Discount], [Total], [ProductDetail_ID]) VALUES (2, 4, 70000, 2, 0, 140000, NULL)
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([ID], [Name], [Address], [Mobile], [UserID], [Payment], [Total], [Fee], [Discount], [Status], [ConfirmStatusId], [CreatedAt]) VALUES (2, N'Trương Việt Anh', N'Trương Việt Anh', N'0852955189', NULL, N'Tiền mặt', 420000, 0, 0, 0, 1, CAST(N'2021-05-08T00:00:00.000' AS DateTime))
INSERT [dbo].[Orders] ([ID], [Name], [Address], [Mobile], [UserID], [Payment], [Total], [Fee], [Discount], [Status], [ConfirmStatusId], [CreatedAt]) VALUES (3, N'Trương', N'Ao Sen, Hà Đông 3', N'0852955189', 1, N'Tiền mặt', 420000, 0, 0, 0, 1, CAST(N'2021-05-08T00:00:00.000' AS DateTime))
INSERT [dbo].[Orders] ([ID], [Name], [Address], [Mobile], [UserID], [Payment], [Total], [Fee], [Discount], [Status], [ConfirmStatusId], [CreatedAt]) VALUES (4, N'Việt Anh', N'A', N'0', NULL, N'Tiền mặt', 420000, 0, 0, 0, 1, CAST(N'2021-05-08T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductDetail] ON 

INSERT [dbo].[ProductDetail] ([ID], [ProductID], [SizeID], [ColorID], [UrlImage], [Invenory]) VALUES (2, 1, 2, 1, N'/img', 3)
INSERT [dbo].[ProductDetail] ([ID], [ProductID], [SizeID], [ColorID], [UrlImage], [Invenory]) VALUES (3, 1, 3, 3, N'/img', 3)
INSERT [dbo].[ProductDetail] ([ID], [ProductID], [SizeID], [ColorID], [UrlImage], [Invenory]) VALUES (4, 1, 1, 4, N'/img', 4)
SET IDENTITY_INSERT [dbo].[ProductDetail] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([ID], [Code], [Name], [CategoryID], [UrlImage], [ImportPrice], [ExportPrice], [Description], [Discount], [TotalPurchase], [TotalInventory], [Status], [ShowOnHome], [SupplierID]) VALUES (1, N'AO-SM-S', N'Áo sơ mi', 3, N'/images/aosm.png', 50000, 70000, N'Áo so mi th?i trang m?i nh?t ph?i màu c?c d?p và tr? trung, d?c dáo v?i detail b?t m?t', 0, 0, 0, 1, 1, 1)
INSERT [dbo].[Products] ([ID], [Code], [Name], [CategoryID], [UrlImage], [ImportPrice], [ExportPrice], [Description], [Discount], [TotalPurchase], [TotalInventory], [Status], [ShowOnHome], [SupplierID]) VALUES (2, N'AO-SM-XL', N'Áo sơ mi trắng nam', 1, N'images/ao2.png', 50000, 70000, N'Alo', 0, 0, 0, 1, 1, 1)
INSERT [dbo].[Products] ([ID], [Code], [Name], [CategoryID], [UrlImage], [ImportPrice], [ExportPrice], [Description], [Discount], [TotalPurchase], [TotalInventory], [Status], [ShowOnHome], [SupplierID]) VALUES (3, N'AO-SM-LDEmo', N'Áo sơ mi trắng nam', 1, N'images/ao2.png', 50000, 70000, N'Alo', 0, 3, 3, 0, NULL, 1)
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([ID], [Name], [Detail]) VALUES (1, N'ADMIN', N'Quản trị viên hệ thống')
INSERT [dbo].[Roles] ([ID], [Name], [Detail]) VALUES (2, N'STAFF', N'Nhân viên')
INSERT [dbo].[Roles] ([ID], [Name], [Detail]) VALUES (3, N'MEMBER', N'Thành viên')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Sizes] ON 

INSERT [dbo].[Sizes] ([ID], [Name], [Detail]) VALUES (1, N'S', NULL)
INSERT [dbo].[Sizes] ([ID], [Name], [Detail]) VALUES (2, N'M', NULL)
INSERT [dbo].[Sizes] ([ID], [Name], [Detail]) VALUES (3, N'L', NULL)
SET IDENTITY_INSERT [dbo].[Sizes] OFF
GO
SET IDENTITY_INSERT [dbo].[Suppeliers] ON 

INSERT [dbo].[Suppeliers] ([ID], [Name], [Andress], [Mobile], [Email], [Manager]) VALUES (1, N'H2T', N'Nguyễn Trãi, Hà Đông, Hà Nội', N'0852955189', N'truongvietanh221@gmail.com', N'Trương Việt Anh')
SET IDENTITY_INSERT [dbo].[Suppeliers] OFF
GO
SET IDENTITY_INSERT [dbo].[Tags] ON 

INSERT [dbo].[Tags] ([ID], [Name], [Detail]) VALUES (1, N'Hot', NULL)
INSERT [dbo].[Tags] ([ID], [Name], [Detail]) VALUES (2, N'Giảm 10%', NULL)
INSERT [dbo].[Tags] ([ID], [Name], [Detail]) VALUES (3, N'Giảm 20%', NULL)
SET IDENTITY_INSERT [dbo].[Tags] OFF
GO
SET IDENTITY_INSERT [dbo].[Transactions] ON 

INSERT [dbo].[Transactions] ([ID], [OrderID], [CreateAt], [Note], [Status], [CreateBy]) VALUES (1, 2, CAST(N'2021-05-09T12:33:24.163' AS DateTime), N'Xác nhận', 1, 1)
INSERT [dbo].[Transactions] ([ID], [OrderID], [CreateAt], [Note], [Status], [CreateBy]) VALUES (2, 2, CAST(N'2021-05-09T12:43:19.980' AS DateTime), N'Xác nhận đơn hàng', 1, 1)
INSERT [dbo].[Transactions] ([ID], [OrderID], [CreateAt], [Note], [Status], [CreateBy]) VALUES (3, 3, CAST(N'2021-05-09T12:45:41.410' AS DateTime), N'Đơn hủy', 0, 1)
SET IDENTITY_INSERT [dbo].[Transactions] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([ID], [Username], [Password], [Name], [Address], [Mobile], [Email], [RoleID], [Status]) VALUES (1, N'admin', N'21232f297a57a5a743894a0e4a801fc3', N'Việt Anh', N'Hà Đông', N'0825955189', N'truongvietanh221@gmail', 1, 1)
INSERT [dbo].[Users] ([ID], [Username], [Password], [Name], [Address], [Mobile], [Email], [RoleID], [Status]) VALUES (2, N'member', N'4297f44b13955235245b2497399d7a93', N'Member', N'Member', N'0852955189', N'Member', 3, 1)
INSERT [dbo].[Users] ([ID], [Username], [Password], [Name], [Address], [Mobile], [Email], [RoleID], [Status]) VALUES (3, N'customer', N'4297f44b13955235245b2497399d7a93', N'Customer', N'Customer', N'0852955189', N'Customber', 4, 1)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  Index [IX_CreatedBy]    Script Date: 5/11/2021 9:20:24 PM ******/
CREATE NONCLUSTERED INDEX [IX_CreatedBy] ON [dbo].[DiscountCodes]
(
	[CreatedBy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductID]    Script Date: 5/11/2021 9:20:24 PM ******/
CREATE NONCLUSTERED INDEX [IX_ProductID] ON [dbo].[ImageDetail]
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrderID]    Script Date: 5/11/2021 9:20:24 PM ******/
CREATE NONCLUSTERED INDEX [IX_OrderID] ON [dbo].[OrderDetai]
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductDetail_ID]    Script Date: 5/11/2021 9:20:24 PM ******/
CREATE NONCLUSTERED INDEX [IX_ProductDetail_ID] ON [dbo].[OrderDetai]
(
	[ProductDetail_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ConfirmStatusId]    Script Date: 5/11/2021 9:20:24 PM ******/
CREATE NONCLUSTERED INDEX [IX_ConfirmStatusId] ON [dbo].[Orders]
(
	[ConfirmStatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserID]    Script Date: 5/11/2021 9:20:24 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserID] ON [dbo].[Orders]
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CreatedBy]    Script Date: 5/11/2021 9:20:24 PM ******/
CREATE NONCLUSTERED INDEX [IX_CreatedBy] ON [dbo].[Posts]
(
	[CreatedBy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ColorID]    Script Date: 5/11/2021 9:20:24 PM ******/
CREATE NONCLUSTERED INDEX [IX_ColorID] ON [dbo].[ProductDetail]
(
	[ColorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductID]    Script Date: 5/11/2021 9:20:24 PM ******/
CREATE NONCLUSTERED INDEX [IX_ProductID] ON [dbo].[ProductDetail]
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SizeID]    Script Date: 5/11/2021 9:20:24 PM ******/
CREATE NONCLUSTERED INDEX [IX_SizeID] ON [dbo].[ProductDetail]
(
	[SizeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CategoryID]    Script Date: 5/11/2021 9:20:24 PM ******/
CREATE NONCLUSTERED INDEX [IX_CategoryID] ON [dbo].[Products]
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SupplierID]    Script Date: 5/11/2021 9:20:24 PM ******/
CREATE NONCLUSTERED INDEX [IX_SupplierID] ON [dbo].[Products]
(
	[SupplierID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductID]    Script Date: 5/11/2021 9:20:24 PM ******/
CREATE NONCLUSTERED INDEX [IX_ProductID] ON [dbo].[TagProduct]
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TagID]    Script Date: 5/11/2021 9:20:24 PM ******/
CREATE NONCLUSTERED INDEX [IX_TagID] ON [dbo].[TagProduct]
(
	[TagID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrderID]    Script Date: 5/11/2021 9:20:24 PM ******/
CREATE NONCLUSTERED INDEX [IX_OrderID] ON [dbo].[Transactions]
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RoleID]    Script Date: 5/11/2021 9:20:24 PM ******/
CREATE NONCLUSTERED INDEX [IX_RoleID] ON [dbo].[Users]
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DiscountCodes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.DiscountCodes_dbo.Users_user_ID] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[DiscountCodes] CHECK CONSTRAINT [FK_dbo.DiscountCodes_dbo.Users_user_ID]
GO
ALTER TABLE [dbo].[ImageDetail]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ImageDetail_dbo.Products_ProductID] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ID])
GO
ALTER TABLE [dbo].[ImageDetail] CHECK CONSTRAINT [FK_dbo.ImageDetail_dbo.Products_ProductID]
GO
ALTER TABLE [dbo].[OrderDetai]  WITH CHECK ADD  CONSTRAINT [FK_dbo.OrderDetai_dbo.Orders_OrderID] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderDetai] CHECK CONSTRAINT [FK_dbo.OrderDetai_dbo.Orders_OrderID]
GO
ALTER TABLE [dbo].[OrderDetai]  WITH CHECK ADD  CONSTRAINT [FK_dbo.OrderDetai_dbo.ProductDetail_ProductDetailID] FOREIGN KEY([ProductDetail_ID])
REFERENCES [dbo].[ProductDetail] ([ID])
GO
ALTER TABLE [dbo].[OrderDetai] CHECK CONSTRAINT [FK_dbo.OrderDetai_dbo.ProductDetail_ProductDetailID]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Orders_dbo.ConfirmStatus_ConfirmStatusId] FOREIGN KEY([ConfirmStatusId])
REFERENCES [dbo].[ConfirmStatus] ([ID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_dbo.Orders_dbo.ConfirmStatus_ConfirmStatusId]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Orders_dbo.Users_UserID] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_dbo.Orders_dbo.Users_UserID]
GO
ALTER TABLE [dbo].[Posts]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Posts_dbo.Users_user_ID] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[Posts] CHECK CONSTRAINT [FK_dbo.Posts_dbo.Users_user_ID]
GO
ALTER TABLE [dbo].[ProductDetail]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProductDetail_dbo.Colors_ColorID] FOREIGN KEY([ColorID])
REFERENCES [dbo].[Colors] ([ID])
GO
ALTER TABLE [dbo].[ProductDetail] CHECK CONSTRAINT [FK_dbo.ProductDetail_dbo.Colors_ColorID]
GO
ALTER TABLE [dbo].[ProductDetail]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProductDetail_dbo.Products_ProductID] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ID])
GO
ALTER TABLE [dbo].[ProductDetail] CHECK CONSTRAINT [FK_dbo.ProductDetail_dbo.Products_ProductID]
GO
ALTER TABLE [dbo].[ProductDetail]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProductDetail_dbo.Sizes_SizeID] FOREIGN KEY([SizeID])
REFERENCES [dbo].[Sizes] ([ID])
GO
ALTER TABLE [dbo].[ProductDetail] CHECK CONSTRAINT [FK_dbo.ProductDetail_dbo.Sizes_SizeID]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Products_dbo.Categories_CategoryID] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([ID])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_dbo.Products_dbo.Categories_CategoryID]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Products_dbo.Suppeliers_Suppelier_ID1] FOREIGN KEY([SupplierID])
REFERENCES [dbo].[Suppeliers] ([ID])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_dbo.Products_dbo.Suppeliers_Suppelier_ID1]
GO
ALTER TABLE [dbo].[TagProduct]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TagProduct_dbo.Products_ProductID] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TagProduct] CHECK CONSTRAINT [FK_dbo.TagProduct_dbo.Products_ProductID]
GO
ALTER TABLE [dbo].[TagProduct]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TagProduct_dbo.Tags_TagID] FOREIGN KEY([TagID])
REFERENCES [dbo].[Tags] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TagProduct] CHECK CONSTRAINT [FK_dbo.TagProduct_dbo.Tags_TagID]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Transactions_dbo.Orders_OrderID] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([ID])
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [FK_dbo.Transactions_dbo.Orders_OrderID]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Users_dbo.Roles_RoleID] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Roles] ([ID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_dbo.Users_dbo.Roles_RoleID]
GO
USE [master]
GO
