<div class="em-wrapper-main">
    <div class="container container-main">
        <div class="em-inner-main">
            <div class="em-wrapper-area02"></div>
            <div class="em-main-container em-col1-layout">
                <div class="row">
                    <div class="em-col-main col-sm-24">
                        <div class="cart">
                            <div class="page-title title-buttons">
                                <h1>Shopping Cart</h1>
                                <ul class="checkout-types">
                                    <li>
                                        <button type="button" title="Proceed to Checkout" class="button btn-proceed-checkout btn-checkout">
                                            <span><span>Proceed to Checkout</span></span>
                                        </button>
                                    </li>
                                </ul>
                            </div><!-- /.page-title -->
                            <form method="post">
                                <input name="form_key" type="hidden" value="inYgLvzSpOOWWVoP" />
                                <fieldset>
                                    <table id="shopping-cart-table" class="data-table cart-table">
                                        <thead>
                                            <tr class="em-block-title">
                                                <th>
                                                    <span class="nobr">Product Name</span>
                                                </th>
                                                <th>&nbsp;</th>
                                                <th></th>
                                                <th class="a-center">
                                                    <span class="nobr">Move to Wishlist</span>
                                                </th>
                                                <th class="a-center" colspan="1">
                                                    <span class="nobr">Unit Price</span>
                                                </th>
                                                <th class="a-center">Qty</th>
                                                <th class="a-center last" colspan="1">Subtotal</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <td colspan="7" class="a-right">
                                                    <button type="button" title="Continue Shopping" class="button btn-continue">
                                                        <span><span>Continue Shopping</span></span>
                                                    </button>
                                                    <button type="submit" name="update_cart_action" value="update_qty" title="Update Shopping Cart" class="button btn-update">
                                                        <span><span>Update Shopping Cart</span></span>
                                                    </button>
                                                    <button type="submit" name="update_cart_action" value="empty_cart" title="Clear Shopping Cart" class="button btn-empty" id="empty_cart_button">
                                                        <span><span>Clear Shopping Cart</span></span>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                            <tr class="first odd">
                                                <td>
                                                    <div class="cart-product">
                                                        <a href="#" title="Remove item" class="btn-remove btn-remove2">Remove item</a>
                                                        <a href="product-detail.html" title=" baby dino baller graphic tee " class="product-image">
                                                            <img src="~/Content/images/product/100x100/thumbnail.jpg" width="100" alt=" baby dino baller graphic tee " />
                                                        </a>
                                                    </div>
                                                </td>
                                                <td>
                                                    <h2 class="product-name"> <a href="product-detail.html"> baby dino baller graphic tee </a></h2>
                                                    <p class="sku">Ba_7</p>
                                                </td>
                                                <td class="a-center">
                                                    <a href="#" title="Edit item parameters">Edit</a>
                                                </td>
                                                <td class="a-center">
                                                    <a href="#" class="link-wishlist use-ajax" title="Move">Move</a>
                                                </td>
                                                <td class="a-center">
                                                    <span class="cart-price"> <span class="price">$4.85</span> </span>
                                                </td>
                                                <td class="a-center">
                                                    <div class="qty_cart">
                                                        <div class="qty-ctl">
                                                            <button title="Decrease Qty" onclick="qtyDown(296); return false;" class="decrease">decrease</button>
                                                        </div>
                                                        <input id="cart[296][qty]" name="cart[296][qty]" value="1" size="4" title="Qty" class="input-text qty" maxlength="12" />
                                                        <div class="qty-ctl">
                                                            <button title="Increase Qty" onclick="qtyUp(296); return false;" class="increase">increase</button>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="a-center last">
                                                    <span class="cart-price"> <span class="price">$4.85</span> </span>
                                                </td>
                                            </tr>
                                            <tr class="last even">
                                                <td>
                                                    <div class="cart-product">
                                                        <a href="#" title="Remove item" class="btn-remove btn-remove2">Remove item</a>
                                                        <a href="product-detail.html" title=" Mommy's little sunshine graphic tee " class="product-image">
                                                            <img src="~/Content/images/product/100x100/thumbnail.jpg" width="100" alt=" Mommy's little sunshine graphic tee " />
                                                        </a>
                                                    </div>
                                                </td>
                                                <td>
                                                    <h2 class="product-name"> <a href="product-detail.html"> Mommy's little sunshine graphic tee </a></h2>
                                                    <p class="sku">Ba_13</p>
                                                </td>
                                                <td class="a-center">
                                                    <a href="#" title="Edit item parameters">Edit</a>
                                                </td>
                                                <td class="a-center">
                                                    <a href="#" class="link-wishlist use-ajax" title="Move">Move</a>
                                                </td>
                                                <td class="a-center">
                                                    <span class="cart-price"> <span class="price">$4.85</span> </span>
                                                </td>
                                                <td class="a-center">
                                                    <div class="qty_cart">
                                                        <div class="qty-ctl">
                                                            <button title="Decrease Qty" onclick="qtyDown(302); return false;" class="decrease">decrease</button>
                                                        </div>
                                                        <input id="cart[302][qty]" name="cart[302][qty]" value="1" size="4" title="Qty" class="input-text qty" maxlength="12" />
                                                        <div class="qty-ctl">
                                                            <button title="Increase Qty" onclick="qtyUp(302); return false;" class="increase">increase</button>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="a-center last">
                                                    <span class="cart-price"> <span class="price">$4.85</span> </span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </fieldset>
                            </form><!-- /form -->
                            <div class="cart-collaterals row">
                                <div class="first col-md-16 col-sm-24">
                                    <div class="row">
                                        <div class="col-sm-24 col-md-12">
                                            <form id="discount-coupon-form" method="post">
                                                <div class="discount em-box-cart">
                                                    <h2>Discount Codes</h2>
                                                    <div class="discount-form em-box">
                                                        <label for="coupon_code">Enter your coupon code if you have one.</label>
                                                        <input type="hidden" name="remove" id="remove-coupone" value="0" />
                                                        <div class="input-box">
                                                            <input class="input-text" id="coupon_code" name="coupon_code" value="" />
                                                        </div>
                                                        <div class="buttons-set">
                                                            <button type="button" title="Apply Coupon" class="button" onclick="discountForm.submit(false)" value="Apply Coupon">
                                                                <span><span>Apply Coupon</span></span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div><!-- /.col-sm-24 -->

                                    </div>
                                </div><!-- /first -->
                                <div class="last totals col-md-8 col-sm-24">
                                    <div class="em-box-cart">
                                        <h2>Order Total</h2>
                                        <div class="em-box">
                                            <table id="shopping-cart-totals-table">

                                                <col style="width: 1%;" />
                                                <tfoot>
                                                    <tr>
                                                        <td style="" class="a-right" colspan="1">
                                                            <strong>Grand Total</strong>
                                                        </td>
                                                        <td style="" class="a-right">
                                                            <strong><span class="price">$9.70</span></strong>
                                                        </td>
                                                    </tr>
                                                </tfoot>
                                                <tbody>
                                                    <tr>
                                                        <td style="" class="a-right" colspan="1"> Subtotal</td>
                                                        <td style="" class="a-right">
                                                            <span class="price">$9.70</span>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <ul class="checkout-types">
                                                <li>
                                                    <button type="button" title="Proceed to Checkout" class="button btn-proceed-checkout btn-checkout">
                                                        <span><span>Proceed to Checkout</span></span>
                                                    </button>
                                                </li>
                                                <li>
                                                    <a href="checkout.html" title="Checkout with Multiple Addresses">Checkout with Multiple Addresses</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div><!-- /.em-box-cart -->
                                </div><!-- /.last -->
                            </div><!-- /.cart-collaterals -->

                        </div>
                    </div>
                </div>
            </div><!-- /.em-main-container -->
        </div>
    </div>
</div>