@model ICollection<Data.DTO.OrderDetailDTO>

<p class="em-block-subtitle">Shopping Cart</p>
<div class="topcart-content">
    <p class="amount-content "> You have no items in your shopping cart.</p>
    <ul>
        <!-- Đấy chỉnh lại mấy cái thẻ , với thêm tổng tiền vào là oke-->
        <li>1</li>
        <li>2</li>
        <li>3</li>
        <li>4</li>
    </ul>
</div>
