
@{
    ViewBag.Title = "_BannerFooter";
}

<div class="em-wrapper-area04">
    <div class="row hidden-xs">
        <div class="em-wrapper-banners">
            <div class="col-sm-6 first img-banner text-center">
                <div class="effect-hover-text">
                    <a class="banner-img" title="em-sample-title" href="#"> <img class="img-responsive retina-img" alt="em-sample-alt" src="~/Content/images/wysiwyg/em_ads_11.jpg" /> </a>
                    <a class="banner-text" title="em-sample-title" href="#"> <img class="img-responsive" alt="em-sample-alt" src="~/Content/images/wysiwyg/em_ads_text_07.png" /> </a>
                </div>
            </div><!-- /.img-banner -->
            <div class="col-sm-12  img-banner text-center">
                <div class="effect-hover-text4">
                    <a class="banner-img" title="em-sample-title" href="#"> <img class="img-responsive retina-img" alt="em-sample-alt" src="~/Content/images/wysiwyg/em_ads_12.jpg" /> </a>
                    <a class="banner-text" title="em-sample-title" href="#"> <img class="img-responsive" alt="em-sample-alt" src="~/Content/images/wysiwyg/em_ads_text_08.png" /> </a>
                </div>
            </div><!-- /.img-banner -->
            <div class="col-sm-6 last img-banner text-center">
                <div class="effect-hover-text3">
                    <a class="banner-img" title="em-sample-title" href="#"> <img class="img-responsive retina-img" alt="em-sample-alt" src="~/Content/images/wysiwyg/em_ads_13.jpg" /> </a>
                    <a class="banner-text" title="em-sample-title" href="#"> <img class="img-responsive" alt="em-sample-alt" src="~/Content/images/wysiwyg/em_ads_text_09.png" /> </a>
                </div>
            </div><!-- /.img-banner -->
        </div>
    </div>
</div><!-- /.em-wrapper-area04 -->


<div class="em-wrapper-area06">
    <div class="em-wrapper-brands">
        <div class=" slider-style02">
            <div class="em-slider em-slider-banners em-slider-navigation-icon" data-emslider-navigation="true" data-emslider-items="6" data-emslider-desktop="5" data-emslider-desktop-small="4" data-emslider-tablet="3" data-emslider-mobile="2">
                <div class="em-banners-item">
                    <a href="#">
                        <img class="img-responsive" alt="em_brand_01.jpg" src="~/Content/images/brand/em_brand_01.png" />
                    </a>
                </div>
                <div class="em-banners-item">
                    <a href="#">
                        <img class="img-responsive" alt="em_brand_02.jpg" src="~/Content/images/brand/em_brand_02.png" />
                    </a>
                </div>
                <div class="em-banners-item">
                    <a href="#">
                        <img class="img-responsive" alt="em_brand_03.jpg" src="~/Content/images/brand/em_brand_03.png" />
                    </a>
                </div>
                <div class="em-banners-item">
                    <a href="#">
                        <img class="img-responsive" alt="em_brand_04.jpg" src="~/Content/images/brand/em_brand_04.png" />
                    </a>
                </div>
                <div class="em-banners-item">
                    <a href="#">
                        <img class="img-responsive" alt="em_brand_05.jpg" src="~/Content/images/brand/em_brand_05.png" />
                    </a>
                </div>
                <div class="em-banners-item">
                    <a href="#">
                        <img class="img-responsive" alt="em_brand_06.jpg" src="~/Content/images/brand/em_brand_06.png" />
                    </a>
                </div>
                <div class="em-banners-item">
                    <a href="#">
                        <img class="img-responsive" alt="em_brand_07.jpg" src="~/Content/images/brand/em_brand_01.png" />
                    </a>
                </div>
                <div class="em-banners-item">
                    <a href="#">
                        <img class="img-responsive" alt="em_brand_01.jpg" src="~/Content/images/brand/em_brand_02.png" />
                    </a>
                </div>
                <div class="em-banners-item">
                    <a href="#">
                        <img class="img-responsive" alt="em_brand_02.jpg" src="~/Content/images/brand/em_brand_03.png" />
                    </a>
                </div>
            </div>
        </div><!-- /.slider-style02 -->
    </div>
</div>

