
@{
    ViewBag.Title = "_Banner";
}

                                       
<div class="em-wrapper-area03">
    <div class="em-slideshow">
        <div class="em-owlcarousel-slideshow">
            <div id="em_owlcarousel_2_2484_sync1" class="owl-carousel">
                <div class="item">
                   <a href="#"> <img class="lazyOwl img-responsive" src="~/Content/images/em_minislideshow/1435569308_0_1.jpg" />
                    </a>
                    <div class="em-owlcarousel-description">
                        <div class="fadeInLeft em-owlcarousel-des em-owlcarousel-des-0">
                            <h3 style="font:italic 2rem/1 Lora,Helvetica Neue, Helvetica, Arial, sans-serif;margin-bottom:1.7rem;">High Fashion Collection 2015</h3>
                            <h1 style="font:700 6rem/1 Raleway,Helvetica Neue, Helvetica, Arial, sans-serif;  margin-bottom: 3rem;" class="em-text-upercase">em stores</h1> <a href="#" class="button-link first"><span>purchase now</span></a> <a href="#" class="button-link"><span>shop now</span></a>
                        </div>
                    </div>
                </div><!-- /.item -->
                <div class="item">
                    <a href="#">
                        <img src="~/Content/images/em_minislideshow/1435569308_1_2.jpg" class="lazyOwl img-responsive" />

                    </a>
                    <div class="em-owlcarousel-description">
                        <div class="fadeInDown em-owlcarousel-des em-owlcarousel-des-1">
                            <h4 style="font:italic 3rem/1 Lora,Helvetica Neue, Helvetica, Arial, sans-serif;  margin-bottom: 3.5rem;">Hot discounts of the week</h4>
                            <h2 style="font:700 6rem/1 Raleway,Helvetica Neue, Helvetica, Arial, sans-serif;  margin-bottom: 3rem;" class="em-text-upercase">sale up 70% off</h2>
                            <h4 class="em-text-upercase" style="font:500 2rem/1 Lato,Helvetica Neue, Helvetica, Arial, sans-serif;">only over oders on $99.99</h4>
                        </div>
                    </div>
                </div><!-- /.item -->
                <div class="item">
                    <a href="#"> <img alt="1436500083_0_slideshow3.jpg" class="lazyOwl img-responsive" src="~/Content/images/em_minislideshow/1436500083_0_slideshow3.jpg" /> </a>
                    <div class="em-owlcarousel-description">
                        <div class="fadeInRight em-owlcarousel-des em-owlcarousel-des-2">
                            <h3 style="font:italic 2rem/1 Lora,Helvetica Neue, Helvetica, Arial, sans-serif;margin-bottom:1.7rem;">Long Weekend Sale Off</h3>
                            <h1 style="font:700 6rem/1 Raleway,Helvetica Neue, Helvetica, Arial, sans-serif; margin-bottom: 3rem;" class="em-text-upercase">couple shop</h1> <a href="#" class="button-link first"><span>purchase now</span></a> <a href="#" class="button-link"><span>shop now</span></a>
                        </div>
                    </div>
                </div><!-- /.item -->
            </div><!-- /# em_owlcarousel_2_2484_sync1 -->
        </div><!-- /.em-owlcarousel-slideshow -->
    </div><!-- /.em-slideshow -->
</div><!-- /.em-wrapper-area03 -->
<div class="std"></div>
<div class="row hidden-xs">
    <div class="em-wrapper-banners">
        <div class="col-sm-8  text-center">
            <div class="img-banner">
                <a class="banner-img" title="em-sample-title" href="#"> <img class="img-responsive retina-img" alt="em-sample-alt" src="~/Content/images/wysiwyg/em_ads_06.jpg" /> </a>
                <a class="banner-text effect-line" title="em-sample-title" href="#"> <img class="img-responsive" alt="em-sample-alt" src="~/Content/images/wysiwyg/em_ads_text_01.png" /> </a>
            </div>
        </div>
        <div class="col-sm-8  img-banner text-center">
            <div class="effect-hover-text4">
                <a class="banner-img" title="em-sample-title" href="#"> <img class="img-responsive retina-img" alt="em-sample-alt" src="~/Content/images/wysiwyg/em_ads_07.jpg" /> </a>
                <a class="banner-text effect-line" title="em-sample-title" href="#"> <img class="img-responsive" alt="em-sample-alt" src="~/Content/images/wysiwyg/em_ads_text_02.png" /> </a>
            </div>
        </div>
        <div class="col-sm-8 text-center">
            <div class="img-banner">
                <a class="banner-img" title="em-sample-title" href="#"> <img class="img-responsive retina-img" alt="em-sample-alt" src="~/Content/images/wysiwyg/em_ads_08.jpg" /> </a>
                <a class="banner-text effect-line" title="em-sample-title" href="#"> <img class="img-responsive" alt="em-sample-alt" src="~/Content/images/wysiwyg/em_ads_text_03.png" /> </a>
            </div>
        </div>
    </div>
</div>


