
@{
    ViewBag.Title = "_BlogLeft";
}

<div class="em-wrapper-ads-10 em-line-01">
    <div class="em-block-title">
        <h2><span>Blog</span></h2>
    </div>
    <div class="em-blog-style01">
        <div class="em-from-our-blog">
            <div class="em-blog-item em-effect-13">
                <div class="em-blog-content bkg-top">
                    <a title="em-sample-title" class="img-banner-small" href="#"> <img alt="em_blog" class="img-responsive" src="~/Content/images/blog/em_ads_07_1.jpg" /> </a>
                    <div class="em-blog-time">
                        <p class="em-blog-date">21</p>
                        <p class="em-blog-month">Jul</p>
                    </div>
                    <div class="hov">&nbsp;</div>
                </div>
                <div class="em-box bkg-bottom">
                    <h4 class="em-blog-title"><a href="#">Pineapples, Mermaids and&hellip;</a></h4>
                    <p class="em-blog-des">Boutique festival Secret Garden went down in Sydney&rsquo;s&nbsp;Camden over the weekend,&hellip;</p>
                    <p>
                        <a class="link-more" href="#">Read more</a>
                    </p>
                </div>
            </div><!-- /.em-blog-item -->
            <div class="em-blog-item em-effect-13">
                <div class="em-blog-content bkg-top">
                    <a title="em-sample-title" class="img-banner-small" href="http://demo.emthemes.com/everything/index.php/blog/11-emerging-jewelry-designers-you-need-to-know.html"> <img alt="em_blog" class="img-responsive" src="~/Content/images/blog/em_ads_08.jpg" /> </a>
                    <div class="em-blog-time">
                        <p class="em-blog-date">21</p>
                        <p class="em-blog-month">Jul</p>
                    </div>
                    <div class="hov">&nbsp;</div>
                </div>
                <div class="em-box bkg-bottom">
                    <h4 class="em-blog-title"><a href="http://demo.emthemes.com/everything/index.php/blog/11-emerging-jewelry-designers-you-need-to-know.html">11 Emerging Jewelry&hellip;</a></h4>
                    <p class="em-blog-des">Jewelry&nbsp;designers are a little like the stepchild of the fashion industry.&hellip;</p>
                    <p>
                        <a class="link-more" href="http://demo.emthemes.com/everything/index.php/blog/11-emerging-jewelry-designers-you-need-to-know.html">Read more</a>
                    </p>
                </div>
            </div><!-- /.em-blog-item -->
        </div>
    </div><!-- /.em-blog-style01 -->
</div>

