
@{
    ViewBag.Title = "_CategoriesLeft";
}

<div id="menuleftText" class="all_categories">
    <div class="menuleftText-title">
        <div class="menuleftText">
            <span class="em-text-upercase">Categories</span>
        </div>
    </div>
</div><!-- /.menuleftText -->
<div class="menuleft">
    <div id="menu-default" class="mega-menu em-menu-icon">
        <div class="megamenu-wrapper wrapper-5_4607">
            <div class="em_nav" id="toogle_menu_5_4607">
                <ul class="vnav em-menu-icon effect-menu em-menu-long">
                    <li class="menu-item-link menu-item-depth-0 fa fa-automobile menu-item-parent">
                        <a class="em-menu-link" href="#"> <span> Bottoms </span> </a>
                        <ul class="menu-container" style="background-image:url(~/Content/images/menu/16644541718_a9bf09d186_b.jpg); background-repeat:no-repeat; background-position:right bottom;">
                            <li class="menu-item-hbox menu-item-depth-1  menu-item-parent" style="">
                                <ul class="menu-container">
                                    <li class="menu-item-vbox menu-item-depth-2  menu-item-parent" style="">
                                        <ul class="menu-container">
                                            <li class="menu-item-hbox menu-item-depth-3 col-menu menu_col18 grid_18 bkg-menu01 menu-item-parent" style="">
                                                <ul class="menu-container">
                                                    <li class="menu-item-vbox menu-item-depth-4 col-sm-24 menu-item-parent" style="">
                                                        <ul class="menu-container">
                                                            <li class="menu-item-text menu-item-depth-5  ">
                                                                <p style="margin-bottom:20px">There is an example of a large container with 6 columns</p>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li><!-- /.menu-item-hbox -->
                                            <li class="menu-item-hbox menu-item-depth-3 col-menu menu_col18 grid_18 bkg-menu01 menu-item-parent" style="">
                                                <ul class="menu-container">
                                                    <li class="menu-item-vbox menu-item-depth-4 col-sm-5 menu-item-parent" style="">
                                                        <ul class="menu-container">
                                                            <li class="menu-item-text menu-item-depth-5  ">
                                                                <h4>Jackets & coats</h4>
                                                                <ul class="list-text">
                                                                    <li>
                                                                        <a href="#">Bathtime Goods</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#">Bedding</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#">Blankets</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#">Shower Curtains</a>
                                                                    </li>
                                                                </ul>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li class="menu-item-vbox menu-item-depth-4 col-sm-5 menu-item-parent" style="">
                                                        <ul class="menu-container">
                                                            <li class="menu-item-text menu-item-depth-5  ">
                                                                <h4>Handbag</h4>
                                                                <ul class="list-text">
                                                                    <li>
                                                                        <a href="#">Daybeds</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#">Infant Chairs</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#">Sectionals</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#">Sleeper Sofas</a>
                                                                    </li>
                                                                </ul>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li class="menu-item-vbox menu-item-depth-4 col-sm-5 menu-item-parent" style="">
                                                        <ul class="menu-container">
                                                            <li class="menu-item-text menu-item-depth-5  ">
                                                                <h4>Clothing</h4>
                                                                <ul class="list-text">
                                                                    <li>
                                                                        <a href="#">7 For All Mankind</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#">Affliction</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#">Anna Sui</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#">Arabella</a>
                                                                    </li>
                                                                </ul>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li class="menu-item-vbox menu-item-depth-4 col-sm-5 menu-item-parent" style="">
                                                        <ul class="menu-container">
                                                            <li class="menu-item-text menu-item-depth-5  ">
                                                                <h4>Shoes</h4>
                                                                <ul class="list-text">
                                                                    <li>
                                                                        <a href="#">Versace</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#">Thalia</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#">Tommy Hilfiger</a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="#">Tory Burch</a>
                                                                    </li>
                                                                </ul>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="menu-item-hbox menu-item-depth-3 col-menu menu_col18 grid_18 bkg-menu01 menu-item-parent" style="">
                                                <ul class="menu-container">
                                                    <li class="menu-item-vbox menu-item-depth-4 col-sm-24 menu-item-parent" style="">
                                                        <ul class="menu-container">
                                                            <li class="menu-item-text menu-item-depth-5  ">
                                                                <p style="margin:32px 0 15px">Here is some contents with side images</p>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li><!-- /.menu-item-hbox -->
                                            <li class="menu-item-hbox menu-item-depth-3 col-menu menu_col18 grid_18 bkg-menu01 menu-item-parent" style="">
                                                <ul class="menu-container">
                                                    <li class="menu-item-vbox menu-item-depth-4 col-sm-9 menu-item-parent" style="">
                                                        <ul class="menu-container">
                                                            <li class="menu-item-text menu-item-depth-5  ">
                                                                <div class="menu-cate effect03 zoom-img">
                                                                    <a title="em-sample-title" href="#">
                                                                        <img class="img-responsive" src="images/menu/menu-img01.jpg" alt="em-sample-alt" />
                                                                    </a>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li class="menu-item-vbox menu-item-depth-4 col-sm-11 menu-item-parent" style="">
                                                        <ul class="menu-container">
                                                            <li class="menu-item-text menu-item-depth-5  ">
                                                                <p>Especially designed to serve for online supermarket businesses, <strong>My Market</strong> theme has a neat and clean layout with blocks are aligned smartly and many <strong>Deals modules</strong> are included to most comfort visitors. Simple white background is enough to make product displays stand out, a logical combination of colors and texture, together with reasonable animation effect impress visitors. But the most remarkable thing about My Market is its powerful and useful features.</p>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li><!-- /.menu-item-hbox -->
                                        </ul>
                                    </li>
                                </ul>
                            </li><!-- /.menu-item-hbox -->
                        </ul>
                    </li><!-- /.menu-item-link -->
                    <li class="menu-item-link menu-item-depth-0 fa fa-desktop menu-item-parent">
                        <a class="em-menu-link" href="#"> <span> Dresses </span> </a>
                        <ul class="menu-container">
                            <li class="menu-item-hbox menu-item-depth-1 col-menu menu_col10  fix-top menu-item-parent" style="">
                                <ul class="menu-container">
                                    <li class="menu-item-vbox menu-item-depth-2 col-sm-12 alpha menu-item-parent" style="">
                                        <ul class="menu-container">
                                            <li class="menu-item-text menu-item-depth-3  ">
                                                <h4>Quisque condimentum</h4>
                                                <ul class="em-catalog-navigation vertical">
                                                    <li class="level0 nav-1 first">
                                                        <a href="#"> <span>Living Room</span> </a>
                                                    </li>
                                                    <li class="level0 nav-2 last">
                                                        <a href="#"> <span>Bedroom</span> </a>
                                                    </li>
                                                </ul>
                                                <div class="padding-top20">
                                                    <h4>Pellentesque nulla</h4>
                                                    <ul class="em-catalog-navigation vertical">
                                                        <li class="level0 nav-1 first">
                                                            <a href="#"> <span>Build Your Own</span> </a>
                                                        </li>
                                                        <li class="level0 nav-2">
                                                            <a href="#"> <span>Laptops</span> </a>
                                                        </li>
                                                        <li class="level0 nav-3">
                                                            <a href="#"> <span>Hard Drives</span> </a>
                                                        </li>
                                                        <li class="level0 nav-4">
                                                            <a href="#"> <span>Monitors</span> </a>
                                                        </li>
                                                        <li class="level0 nav-5">
                                                            <a href="#"> <span>RAM / Memory</span> </a>
                                                        </li>
                                                        <li class="level0 nav-6">
                                                            <a href="#"> <span>Cases</span> </a>
                                                        </li>
                                                        <li class="level0 nav-7">
                                                            <a href="#"> <span>Processors</span> </a>
                                                        </li>
                                                        <li class="level0 nav-8 last">
                                                            <a href="#"> <span>Peripherals</span> </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </li>
                                        </ul>
                                    </li><!-- /.menu-item-vbox -->
                                    <li class="menu-item-vbox menu-item-depth-2 col-sm-12 menu-item-parent" style="">
                                        <ul class="menu-container">
                                            <li class="menu-item-text menu-item-depth-3  ">
                                                <h4>Quisque gravida</h4>
                                                <div>
                                                    <ul class="em-catalog-navigation vertical">
                                                        <li class="level0 nav-1 first">
                                                            <a href="#"> <span>Living Room</span> </a>
                                                        </li>
                                                        <li class="level0 nav-2 last">
                                                            <a href="#"> <span>Bedroom</span> </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="padding-top20">
                                                    <h4>Pellentesque nulla</h4>
                                                    <ul class="em-catalog-navigation vertical">
                                                        <li class="level0 nav-1 first">
                                                            <a href="#-own.html"> <span>Build Your Own</span> </a>
                                                        </li>
                                                        <li class="level0 nav-2">
                                                            <a href="#"> <span>Laptops</span> </a>
                                                        </li>
                                                        <li class="level0 nav-3">
                                                            <a href="#.html"> <span>Hard Drives</span> </a>
                                                        </li>
                                                        <li class="level0 nav-4">
                                                            <a href="#"> <span>Monitors</span> </a>
                                                        </li>
                                                        <li class="level0 nav-5">
                                                            <a href="#"> <span>RAM / Memory</span> </a>
                                                        </li>
                                                        <li class="level0 nav-6">
                                                            <a href="#"> <span>Cases</span> </a>
                                                        </li>
                                                        <li class="level0 nav-7">
                                                            <a href="#"> <span>Processors</span> </a>
                                                        </li>
                                                        <li class="level0 nav-8 last">
                                                            <a href="#"> <span>Peripherals</span> </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </li>
                                        </ul>
                                    </li><!-- /.menu-item-vbox -->
                                </ul>
                            </li><!-- /.menu-item-hbox -->
                        </ul>
                    </li><!-- /.menu-item-link -->
                    <li class="menu-item-link menu-item-depth-0 fa fa-camera menu-item-parent">
                        <a class="em-menu-link" href="#"> <span> Outerwear </span> </a>
                        <ul class="menu-container" style="background-image:url(~/Content/images/menu/16212167333_1dfb4ccb4d_b.jpg); background-repeat:no-repeat; background-position:right bottom;">
                            <li class="menu-item-hbox menu-item-depth-1 col-menu menu_col18 grid_18 bkg-menu01 menu-item-parent" style="">
                                <ul class="menu-container">
                                    <li class="menu-item-vbox menu-item-depth-2 col-sm-5 menu-item-parent" style="">
                                        <ul class="menu-container">
                                            <li class="menu-item-text menu-item-depth-3  ">
                                                <h4>Jackets & coats</h4>
                                                <ul class="list-text">
                                                    <li>
                                                        <a href="#">Bathtime Goods</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Bedding</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Blankets</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Shower Curtains</a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li><!-- /.menu-item-vbox -->
                                    <li class="menu-item-vbox menu-item-depth-2 col-sm-5 menu-item-parent" style="">
                                        <ul class="menu-container">
                                            <li class="menu-item-text menu-item-depth-3  ">
                                                <h4>Handbag</h4>
                                                <ul class="list-text">
                                                    <li>
                                                        <a href="#">Daybeds</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Infant Chairs</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Sectionals</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Sleeper Sofas</a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li><!-- /.menu-item-vbox -->
                                    <li class="menu-item-vbox menu-item-depth-2 col-sm-5 menu-item-parent" style="">
                                        <ul class="menu-container">
                                            <li class="menu-item-text menu-item-depth-3  ">
                                                <h4>Clothing</h4>
                                                <ul class="list-text">
                                                    <li>
                                                        <a href="#">7 For All Mankind</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Affliction</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Anna Sui</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Arabella</a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li><!-- /.menu-item-vbox -->
                                    <li class="menu-item-vbox menu-item-depth-2 col-sm-5 menu-item-parent" style="">
                                        <ul class="menu-container">
                                            <li class="menu-item-text menu-item-depth-3  ">
                                                <h4>Shoes</h4>
                                                <ul class="list-text">
                                                    <li>
                                                        <a href="#">Versace</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Thalia</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Tommy Hilfiger</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Tory Burch</a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li><!-- /.menu-item-vbox -->
                                </ul>
                            </li><!-- /.menu-item-hbox -->
                        </ul>
                    </li><!-- /.menu-item-link -->
                    <li class="menu-item-link menu-item-depth-0 fa fa-video-camera menu-item-parent">
                        <a class="em-menu-link" href="#"> <span> Tops </span> </a>
                        <ul class="menu-container">
                            <li class="menu-item-hbox menu-item-depth-1 col-menu menu_col5  fix-top menu-item-parent" style="">
                                <ul class="menu-container">
                                    <li class="menu-item-vbox menu-item-depth-2 col-sm-24 alpha menu-item-parent" style="">
                                        <ul class="menu-container">
                                            <li class="menu-item-text menu-item-depth-3  ">
                                                <h4>Jackets &amp; coats</h4>
                                                <ul class="menu-container">
                                                    <li class="menu-item-link menu-item-depth-1 first">
                                                        <a class="em-menu-link" href="#"><span>Landing Page</span> </a>
                                                    </li>
                                                    <li class="menu-item-link menu-item-depth-1 ">
                                                        <a class="em-menu-link" href="typography.html"><span>Typography Page</span> </a>
                                                    </li>
                                                    <li class="menu-item-link menu-item-depth-1 ">
                                                        <a class="em-menu-link" href="#"><span>Widgets Page</span> </a>
                                                    </li>
                                                    <li class="menu-item-link menu-item-depth-1 label-new-menu ">
                                                        <a class="em-menu-link" href="contact.html"><span>Contact Page</span> </a>
                                                    </li>
                                                    <li class="menu-item-link menu-item-depth-1 last ">
                                                        <a class="em-menu-link" href="404.html"><span>404 Page</span> </a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li><!-- /.menu-item-hbox -->
                        </ul>
                    </li><!-- /.menu-item-link -->
                    <li class="menu-item-link menu-item-depth-0 fa fa-university menu-item-parent">
                        <a class="em-menu-link" href="#"> <span> Swim </span> </a>
                        <ul class="menu-container">
                            <li class="menu-item-hbox menu-item-depth-1  fix-top menu-item-parent" style="">
                                <ul class="menu-container">
                                    <li class="menu-item-vbox menu-item-depth-2  menu-item-parent" style="">
                                        <ul class="menu-container">
                                            <li class="menu-item-hbox menu-item-depth-3 col-menu menu_col18 grid_18 bkg-menu01 menu-item-parent" style="">
                                                <ul class="menu-container">
                                                    <li class="menu-item-vbox menu-item-depth-4 col-sm-12 menu-item-parent" style="">
                                                        <ul class="menu-container">
                                                            <li class="menu-item-text menu-item-depth-5  ">
                                                                <p class="img-center">
                                                                    <a href="#" title="em-sample-title">
                                                                        <img class="img-responsive" src="images/menu/logo-menu.jpg" alt="em-sample-alt" />
                                                                    </a>
                                                                </p>
                                                                <p>No coding needed, all can be edited directly in admin panel. Select colors of dozens of elements using color pickers, set hundreds of options, apply textures for header, footer and for the entire page, upload background image and configure its properties (position, repeating, attachment), change font and font-size, and many many more…</p>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li class="menu-item-vbox menu-item-depth-4 col-sm-6 menu-item-parent" style="">
                                                        <ul class="menu-container">
                                                            <li class="menu-item-text menu-item-depth-5  ">
                                                                <h4>Jackets & coats</h4>
                                                                <ul class="menu-container">
                                                                    <li class="menu-item-link menu-item-depth-1 first label-hot-menu">
                                                                        <a class="em-menu-link" href="product-simple.html">Simple product</a>
                                                                    </li>
                                                                    <li class="menu-item-link menu-item-depth-1">
                                                                        <a class="em-menu-link" href="product-virtual.html">Virtual Product</a>
                                                                    </li>
                                                                    <li class="menu-item-link menu-item-depth-1">
                                                                        <a class="em-menu-link" href="product-downloadable.html">Downloadable Product</a>
                                                                    </li>
                                                                    <li class="menu-item-link menu-item-depth-1">
                                                                        <a class="em-menu-link" href="product-configurable.html">Configurable Product</a>
                                                                    </li>
                                                                    <li class="menu-item-link menu-item-depth-1">
                                                                        <a class="em-menu-link" href="product-grouped.html">Grouped Product</a>
                                                                    </li>
                                                                    <li class="menu-item-link menu-item-depth-1 last">
                                                                        <a class="em-menu-link" href="product-bundle.html">Bundle Product</a>
                                                                    </li>
                                                                </ul>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li class="menu-item-vbox menu-item-depth-4 col-sm-6 menu-item-parent" style="">
                                                        <ul class="menu-container">
                                                            <li class="menu-item-text menu-item-depth-5  ">
                                                                <h4>Clothing</h4>
                                                                <ul class="menu-container">
                                                                    <li class="menu-item-link menu-item-depth-1 first">
                                                                        <a class="em-menu-link" href="product-1-column.html">1 Column</a>
                                                                    </li>
                                                                    <li class="menu-item-link menu-item-depth-1 ">
                                                                        <a class="em-menu-link" href="product-2-columns-left.html">2 Columns Left</a>
                                                                    </li>
                                                                    <li class="menu-item-link menu-item-depth-1 ">
                                                                        <a class="em-menu-link" href="product-2-columns-right.html">2 Columns Right</a>
                                                                    </li>
                                                                    <li class="menu-item-link menu-item-depth-1 ">
                                                                        <a class="em-menu-link" href="product-3-columns.html">3 Columns</a>
                                                                    </li>
                                                                    <li class="menu-item-link menu-item-depth-1 ">
                                                                        <a class="em-menu-link" href="product-upsell.html">Upsell</a>
                                                                    </li>
                                                                    <li class="menu-item-link menu-item-depth-1 last">
                                                                        <a class="em-menu-link" href="product-related.html">Related Product</a>
                                                                    </li>
                                                                </ul>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li><!-- /.menu-item-hbox -->
                                            <li class="menu-item-hbox menu-item-depth-3 col-menu menu_col18 grid_18 bkg-menu01 menu-item-parent" style="">
                                                <ul class="menu-container">
                                                    <li class="menu-item-vbox menu-item-depth-4 col-sm-24 menu-item-parent" style="">
                                                        <ul class="menu-container">
                                                            <li class="menu-item-text menu-item-depth-5  ">
                                                                <div class="padding-top20"></div>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li><!-- /.menu-item-hbox -->
                                        </ul>
                                    </li>
                                </ul>
                            </li><!-- /.menu-item-hbox -->
                        </ul>
                    </li><!-- /.menu-item-link -->
                    <li class="menu-item-link menu-item-depth-0 fa fa-leaf hidden-sm ">
                        <a class="em-menu-link" href="#"> <span> Sleep & Intimates </span> </a>
                    </li><!-- /.menu-item-link -->
                    <li class="menu-item-link menu-item-depth-0 em-more-menu fa fa-tachometer hidden-sm ">
                        <a class="em-menu-link" href="#"> <span> Accessories </span> </a>
                    </li><!-- /.menu-item-link -->
                    <li class="menu-item-link menu-item-depth-0 em-more-menu fa fa-glass hidden-sm ">
                        <a class="em-menu-link" href="#"> <span> Shoes </span> </a>
                    </li><!-- /.menu-item-link -->
                    <li class="menu-item-link menu-item-depth-0 em-more-menu fa fa-tags hidden-md hidden-sm last ">
                        <a class="em-menu-link" href="#"> <span> Hats </span> </a>
                    </li><!-- /.menu-item-link -->
                </ul><!-- /.vnav -->
            </div>
        </div><!-- /.megamenu-wrapper -->
    </div>
</div><!-- /.menuleft -->
