@model IEnumerable<Data.DTO.CategoryDTO>
@{
    ViewBag.Title = "_CategoriesLeft";
}

<div id="menuleftText" class="all_categories">
    <div class="menuleftText-title">
        <div class="menuleftText">
            <span class="em-text-upercase">Categories</span>
        </div>
    </div>
</div><!-- /.menuleftText -->
<div class="menuleft">
    <div id="menu-default" class="mega-menu em-menu-icon">
        <div class="megamenu-wrapper wrapper-5_4607">
            <div class="em_nav" id="toogle_menu_5_4607">
                <ul class="vnav em-menu-icon effect-menu em-menu-long">
                    @foreach (var item in Model)
                    {
                        <li class="menu-item-link menu-item-depth-0 em-more-menu fa fa-tags hidden-md hidden-sm last ">
                            <a class="em-menu-link" href="#"> <span> @item.Name </span> </a>
                        </li>
                    }

                </ul><!-- /.vnav -->
            </div>
        </div><!-- /.megamenu-wrapper -->
    </div>
</div><!-- /.menuleft -->
