
@{
    ViewBag.Title = "Left";
}

<div class="em-wrapper-ads-15">
    <div class="em-slider em-slider-category" data-emslider-pagination="true" data-emslider-items="1">
        <div class="em-ads-item">
            <div class="em-ads-img">
                <a href="#">
                    <img class="img-responsive" alt="em_ads_02.png" src="~/Content/images/wysiwyg/em_ads_02.png" />
                </a>
            </div>
            <div class="em-ads-content">
                <p class="em-ads-des"><i class="fa fa-fw"></i>You can change the visual appearance of almost every element of the theme.</p>
                <p class="em-ads-author">
                    <span class="em-text-upercase">elena gilbert </span><span>- Web designer</span>
                </p>
            </div>
        </div><!-- /.em-ads-item -->
        <div class="em-ads-item">
            <div class="em-ads-img">
                <a href="#">
                    <img class="img-responsive" alt="em_ads_02.png" src="~/Content/images/wysiwyg/em_ads_02.png" />
                </a>
            </div>
            <div class="em-ads-content">
                <p class="em-ads-des"><i class="fa fa-fw"></i>You can change the visual appearance of almost every element of the theme.</p>
                <p class="em-ads-author">
                    <span class="em-text-upercase">elena gilbert </span><span>- Web designer</span>
                </p>
            </div>
        </div><!-- /.em-ads-item -->
        <div class="em-ads-item">
            <div class="em-ads-img">
                <a href="#">
                    <img class="img-responsive" alt="em_ads_02.png" src="~/Content/images/wysiwyg/em_ads_02.png" />
                </a>
            </div>
            <div class="em-ads-content">
                <p class="em-ads-des"><i class="fa fa-fw"></i>You can change the visual appearance of almost every element of the theme.</p>
                <p class="em-ads-author">
                    <span class="em-text-upercase">elena gilbert </span><span>- Web designer</span>
                </p>
            </div>
        </div><!-- /.em-ads-item -->
    </div><!-- /.em-slider -->
</div>
