
@{
    ViewBag.Title = "_LeftFooter";
}

<div class="effect-hover-text2">
    <a class="banner-img" title="em-sample-title" href="#"> <img class="img-responsive retina-img" alt="em-sample-alt" src="~/Content/images/wysiwyg/em_ads_05.jpg" /> </a>
    <a class="banner-text" title="em-sample-title" href="#"> <img class="img-responsive" alt="em-sample-alt" src="~/Content/images/wysiwyg/em_ads_text_05.png" /> </a>
</div>


