
@{
    ViewBag.Title = "_Sale";
}

<div class="em-best-sales em-wrapper-product-15">
    <div class="emfilter-ajaxblock-loaded">
        <div class="em-grid-15 custom-product-list">
            <div class="widget-title em-widget-title">
                <h3><span>Best Sales</span></h3>
            </div>

            <div class="widget em-filterproducts-list">
                <div class="widget-products em-widget-products">
                    <div class="products-list ">
                        <div class="item first" style="  ">
                            <a href="#" title=" Pretty Playsuit" class="product-image">

                                <img style="" class="em-alt-hover img-responsive em-lazy-loaded" src="~/Content/images/product/110x110/clothing_sp19_2.jpg" data-original="~/Content/images/product/110x110/clothing_sp19_2.jpg" alt=" Pretty Playsuit" height="110" width="110">
                                <img class="img-responsive em-alt-org em-lazy-loaded" src="~/Content/images/product/110x110/clothing_sp19_1.jpg" data-original="~/Content/images/product/110x110/clothing_sp19_1.jpg" alt=" Pretty Playsuit" height="110" width="110">
                            </a>
                            <div class="product-shop">
                                <div class="f-fix">
                                    <!--product name-->
                                    <h3 class="product-name"><a href="#" title=" Pretty Playsuit"> Pretty Playsuit</a></h3>
                                    <!--product description-->
                                    <!--product reviews-->
                                    <div class="ratings">
                                        <div class="rating-box">
                                            <div class="rating" style="width:0%"></div>
                                        </div>
                                        <span class="amount"><a href="#" onclick="184">(0)</a></span>
                                    </div>
                                    <!--product price-->
                                    <div class="price-box">

                                        <p class="old-price">
                                            <span class="price-label">Regular Price:</span>
                                            <span class="price" id="old-price-184-emprice-9c7acb644d253ae8c0c656d97ce7a00f">$130.00</span>
                                        </p>

                                        <p class="special-price">
                                            <span class="price-label">Special Price</span>
                                            <span class="price" content="90" id="product-price-184-emprice-9c7acb644d253ae8c0c656d97ce7a00f"> $90.00</span>
                                        </p>


                                    </div>


                                </div>
                            </div>
                        </div><!-- /.item -->
                        <div class="item" style="  ">
                            <a href="#" title="Cross Back Dress" class="product-image">


                                <img style="" class="em-alt-hover img-responsive em-lazy-loaded" src="~/Content/images/product/110x110/clothing_sp1_2.jpg" data-original="~/Content/images/product/110x110/clothing_sp1_2.jpg" alt="Cross Back Dress" height="110" width="110">
                                <img class="img-responsive em-alt-org em-lazy-loaded" src="~/Content/images/product/110x110/clothing_sp1_1.jpg" data-original="~/Content/images/product/110x110/clothing_sp1_1.jpg" alt="Cross Back Dress" height="110" width="110">
                            </a>
                            <div class="product-shop">
                                <div class="f-fix">
                                    <!--product name-->
                                    <h3 class="product-name"><a href="#" title="Cross Back Dress">Cross Back Dress</a></h3>
                                    <!--product description-->
                                    <!--product reviews-->
                                    <div class="ratings">
                                        <div class="rating-box">
                                            <div class="rating" style="width:0%"></div>
                                        </div>
                                        <span class="amount"><a href="#" onclick="166">(0)</a></span>
                                    </div>
                                    <!--product price-->



                                    <div class="price-box">
                                        <span class="regular-price" id="product-price-166-emprice-420d7edd38e60d3ae400966629e226d2">
                                            <span class="price">$750.00</span>
                                        </span>

                                    </div>


                                </div>
                            </div>
                        </div><!-- /.item -->
                        <div class="item last" style="  ">
                            <a href="#" title="Drape Back Playsuit " class="product-image">


                                <img style="" class="em-alt-hover img-responsive em-lazy-loaded" src="~/Content/images/product/110x110/clothing_sp17_2.jpg" data-original="~/Content/images/product/110x110/clothing_sp17_2.jpg" alt="Drape Back Playsuit " height="110" width="110">
                                <img class="img-responsive em-alt-org em-lazy-loaded" src="~/Content/images/product/110x110/clothing_sp17_1.jpg" data-original="~/Content/images/product/110x110/clothing_sp17_1.jpg" alt="Drape Back Playsuit " height="110" width="110">
                            </a>
                            <div class="product-shop">
                                <div class="f-fix">
                                    <!--product name-->
                                    <h3 class="product-name"><a href="#" title="Drape Back Playsuit ">Drape Back Playsuit </a></h3>
                                    <!--product description-->
                                    <!--product reviews-->
                                    <div class="ratings">
                                        <div class="rating-box">
                                            <div class="rating" style="width:100%"></div>
                                        </div>
                                        <span class="amount"><a href="#" onclick="182">(1)</a></span>
                                    </div>
                                    <!--product price-->



                                    <div class="price-box">

                                        <p class="old-price">
                                            <span class="price-label">Regular Price:</span>
                                            <span class="price" id="old-price-182-emprice-b0a1e32195ca82a58e889da04d6711df">$70.00</span>
                                        </p>

                                        <p class="special-price">
                                            <span class="price-label">Special Price</span>
                                            <span class="price" content="60" id="product-price-182-emprice-b0a1e32195ca82a58e889da04d6711df">$60.00</span>
                                        </p>


                                    </div>


                                </div>
                            </div>
                        </div><!-- /.item -->
                    </div><!-- /.products-list -->
                    <div class="products-list ">
                        <div class="item first" style="  ">
                            <a href="#" title="Embellished Playsuit" class="product-image">
                                <img style="" class="em-alt-hover img-responsive em-lazy-loaded" src="~/Content/images/product/110x110/clothing_sp18_2.jpg" data-original="~/Content/images/product/110x110/clothing_sp18_2.jpg" alt="Embellished Playsuit" height="110" width="110">
                                <img class="img-responsive em-alt-org em-lazy-loaded" src="~/Content/images/product/110x110/clothing_sp18_1.jpg" data-original="~/Content/images/product/110x110/clothing_sp18_1.jpg" alt="Embellished Playsuit" height="110" width="110">
                            </a>
                            <div class="product-shop">
                                <div class="f-fix">
                                    <!--product name-->
                                    <h3 class="product-name"><a href="#" title="Embellished Playsuit">Embellished Playsuit</a></h3>
                                    <!--product description-->
                                    <!--product reviews-->
                                    <div class="ratings">
                                        <div class="rating-box">
                                            <div class="rating" style="width:0%"></div>
                                        </div>
                                        <span class="amount"><a href="#" onclick="183">(0)</a></span>
                                    </div>
                                    <!--product price-->
                                    <div class="price-box">

                                        <p class="old-price">
                                            <span class="price-label">Regular Price:</span>
                                            <span class="price" id="old-price-183-emprice-447f1b9a2238137e1de786f67b42bb85">$150.00</span>
                                        </p>

                                        <p class="special-price">
                                            <span class="price-label">Special Price</span>
                                            <span class="price" content="80" id="product-price-183-emprice-447f1b9a2238137e1de786f67b42bb85">$80.00</span>
                                        </p>


                                    </div>


                                </div>
                            </div>
                        </div><!-- /.item -->
                        <div class="item" style="  ">
                            <a href="#" title="Geometric Dress" class="product-image">
                                <img style="" class="em-alt-hover img-responsive em-lazy-loaded" src="~/Content/images/product/110x110/clothing_sp20_2.jpg" data-original="~/Content/images/product/110x110/clothing_sp20_2.jpg" alt="Geometric Dress" height="110" width="110">
                                <img class="img-responsive em-alt-org em-lazy-loaded" src="~/Content/images/product/110x110/clothing_sp20_1.jpg" data-original="~/Content/images/product/110x110/clothing_sp20_1.jpg" alt="Geometric Dress" height="110" width="110">
                            </a>
                            <div class="product-shop">
                                <div class="f-fix">
                                    <!--product name-->
                                    <h3 class="product-name"><a href="#" title="Geometric Dress">Geometric Dress</a></h3>
                                    <!--product description-->
                                    <!--product reviews-->
                                    <div class="ratings">
                                        <div class="rating-box">
                                            <div class="rating" style="width:0%"></div>
                                        </div>
                                        <span class="amount"><a href="#" onclick="185">(0)</a></span>
                                    </div>
                                    <!--product price-->
                                    <div class="price-box">

                                        <p class="old-price">
                                            <span class="price-label">Regular Price:</span>
                                            <span class="price" id="old-price-185-emprice-b9cbb909aac3b0c33ee82836547d5755">$120.00</span>
                                        </p>

                                        <p class="special-price">
                                            <span class="price-label">Special Price</span>
                                            <span class="price" content="100" id="product-price-185-emprice-b9cbb909aac3b0c33ee82836547d5755">$100.00</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div><!-- /.item -->
                        <div class="item last" style="  ">
                            <a href="#" title="Mono Scallop" class="product-image">
                                <img style="" class="em-alt-hover img-responsive em-lazy-loaded" src="~/Content/images/product/110x110/clothing_sp16_2.jpg" data-original="images/product/110x110/clothing_sp16_2.jpg" alt="Mono Scallop" height="110" width="110">
                                <img class="img-responsive em-alt-org em-lazy-loaded" src="~/Content/images/product/110x110/clothing_sp16_1.jpg" data-original="images/product/110x110/clothing_sp16_1.jpg" alt="Mono Scallop" height="110" width="110">
                            </a>
                            <div class="product-shop">
                                <div class="f-fix">
                                    <!--product name-->
                                    <h3 class="product-name"><a href="#" title="Mono Scallop">Mono Scallop</a></h3>
                                    <!--product description-->
                                    <!--product reviews-->
                                    <div class="ratings">
                                        <div class="rating-box">
                                            <div class="rating" style="width:0%"></div>
                                        </div>
                                        <span class="amount"><a href="#" onclick="181">(0)</a></span>
                                    </div>
                                    <!--product price-->
                                    <div class="price-box">

                                        <p class="old-price">
                                            <span class="price-label">Regular Price:</span>
                                            <span class="price" id="old-price-181-emprice-f425d011393677da16e76f16bed41113">$175.00</span>
                                        </p>

                                        <p class="special-price">
                                            <span class="price-label">Special Price</span>
                                            <span class="price" content="75" id="product-price-181-emprice-f425d011393677da16e76f16bed41113">$75.00</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div><!-- /.item -->
                    </div><!-- /.products-list -->
                </div>
            </div><!-- /.widget -->

        </div><!-- /.em-grid-15 -->
    </div>
</div>

