@model IEnumerable<Data.DTO.CategoryDTO>
@{
    ViewBag.Title = "_CategoriesLeft";
}
<ul class="em-tabs-control tabs-control r-tabs-nav">
    <li class="r-tabs-tab r-tabs-state-active" onclick="getDataFillter(0,1,'/Product/Product','product')">
        <a class="r-tabs-anchor active" href="#tab_emtabs_1_1" data-hover="Shirt"> <span class="icon"></span>Tất cả</a>
    </li>
    @foreach (var item in Model)
    {
        <li class="r-tabs-state-default r-tabs-tab" onclick="getDataFillter(@item.ID, 1, '/Product/Product', 'product')">
            <a class="r-tabs-anchor" href="#tab_emtabs_1_2" data-hover="Skirt"> <span class="icon"></span>@item.Name</a>
        </li>

    }
</ul>
