body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.content-wrapper {
    margin-top: 4px !important;
    background: #fff !important;
}

.get-data .table button {
    background: transparent;
    border: none;
    margin: 0 0 0 8px;
    border-radius: 2px;
}

.pagination {
    margin: 16px 0;
}

    .pagination button {
        background: #ffff;
        border: 1px solid #bababa;
        padding: 4px 12px;
        border-radius: 3px;
        box-shadow: 0 0 1px;
        margin: 0 8px 0 0;
    }

        .pagination button:hover, .pagination button.active {
            background: #0069bc;
            border: 1px solid #0069bc;
            color: #fff;
        }

.list-data .data-item {
    padding: 4px 16px;
    margin: 8px 0;
    background: #fff;
    border: 1px solid #93d6ff;
    box-shadow: 0 0 1px #93d6ff;
    border-radius: 2px;
}

    .list-data .data-item p {
        font-size: 16px;
        margin: 6px 0;
    }

.list-data p.data-title {
    font-size: 18px;
    font-weight: 500;
}

.btn-edit {
}

.add-or-edit label {
    font-size: 22px;
    font-weight: 400 !important;
}

.add-or-edit button {
    margin: 0 8px 0 0;
}

.error p {
    font-size: 14px;
    color: #ff0000;
    margin: 0;
}

.modal-ku {
    width: calc( 100% - 100px );
    margin: auto;
}

.data-header {
    border-bottom: 1px solid #d5d5d5;
}

    .data-header button {
        padding: 4px 12px;
    }

    .data-header input {
        margin: 0 8px;
        padding: 0 8px;
        border: 1px solid #d5d5d5;
        border-radius: 4px;
    }

.data-body thead tr td {
    font-size: 16px;
    font-weight: 500;
}

.data-body thead tr th {
    font-size: 16px;
    color: #363636;
}

.data-body {
    border: 1px solid #d5d5d5;
    border-radius: 4px;
    margin: -1px;
}

    .data-body table {
        margin: 0;
    }
.btnsize {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 7px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #008CBA;
}

.button2 {
    background-color: #008CBA;
}
/* Blue */
.button3 {
    background-color: #f44336;
}
/* Red */
.button4 {
    background-color: #e7e7e7;
    color: black;
}
/* Gray */
.button5 {
    background-color: #555555;
}
li {
    display: inline-block;
}

.click {
    background-color: red;
}