@model Data.DTO.UserRegistDTO

<div class="create-user">
    <form id="create-user">
        <input type="number" name="ID" value="0" class="form-control hidden" readonly hidden />
        <div class="row m-0">
            <div class="col-md-8">
                <label>Tài Khoản :</label>
                <input type="text" value="" name="Username" class="form-control" />
                <div class="error"></div>
            </div>
            <div class="col-md-8">
                <label>Mật khẩu</label>
                <input type="password" value="" name="Password" class="form-control" />
                <div class="error"></div>
            </div>
            <div class="col-md-8">
                <label>Xác nhận mật khẩu:</label>
                <input type="password" value="" name="ConfirmPassword" class="form-control" />
                <div class="error"></div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn-update btn btn-primary" type="button" data-dismiss="modal" onclick="AddOrUpdate('create-user', '/User/registUser','', '');">Tạo tài khoản</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
    </form>
</div>

