@model Data.DTO.UserDTO
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .em-wrapper-header{
        height:175px
    }
    .profile {
        margin: 0 auto;
        width: 80%;
    }
</style>
<!-- Breadcrumb -->
<nav aria-label="breadcrumb" class="main-breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="">Home</a></li>
        <li class="breadcrumb-item"><a href="javascript:void(0)">User</a></li>
        <li class="breadcrumb-item active" aria-current="page">User Profile</li>
    </ol>
</nav>
<!-- /Breadcrumb -->
<div class="profiles">

    <div class="profile">
        <div class="card">
            <div class="card-body">
                <div class="d-flex flex-column align-items-center text-center user-info">
                </div>
            </div>
        </div>
        <br />
    </div>
    <div class="col-md-16 mt-3" style="width:100%">
        <div class="card mb-3" style="width:83%;margin:0 auto">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Họ và tên</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        @Model.Name
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Email</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        @Model.Email
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Số điện thoại</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        @Model.Mobile
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Địa chỉ</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        @Model.Address
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
@section scripts{
    <script>
        LoadData('/User/InfoUser', 'user-info');
    </script>
}